



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Ubuntu-Regular, sans-serif;
}
/*---------------------------------------------*/

/*---------------------------------------------*/

/*---------------------------------------------*/
a {
	font-family: Ubuntu-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #1b3815;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Ubuntu-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #1b3815;}
input:-moz-placeholder { color: #1b3815;}
input::-moz-placeholder { color: #1b3815;}
input:-ms-input-placeholder { color: #1b3815;}

textarea::-webkit-input-placeholder { color: #1b3815;}
textarea:-moz-placeholder { color: #1b3815;}
textarea::-moz-placeholder { color: #1b3815;}
textarea:-ms-input-placeholder { color: #1b3815;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ NavBar ]*/
/* Estilos para el navbar */
/* Agrega estilos para el navbar */
nav {
  background-color: #57b846;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 100%;
  z-index: 1000;
  top: 0;
  position: fixed;
}


.nav-content ul {
  display: flex;
  color: white;
  list-style-type: none;
  margin-left: 0; /* Añadido para quitar el margen izquierdo predeterminado */
}

.nav-content ul li {
  margin-right: 20px;
  margin-left: 0; /* Añadido para quitar el margen izquierdo predeterminado */
}

.nav-content ul li a {
  color: black;
  text-decoration: none;
  font-family: Ubuntu-Regular, sans-serif;
  text-transform: uppercase;
}

.nav-content ul li a:hover {
  color: white;
  text-decoration: none;
}

/* Mantener el logotipo en su posición original */
.nav-brand {
  margin-right: auto; /* Mueve el logo a la izquierda */
  margin-left: 0; /* Añadido para quitar el margen izquierdo predeterminado */
}

.nav-brand a {
  font-family: Ubuntu-Bold, sans-serif;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.nav-brand a:hover {
  text-decoration: none;
  color: black;
}

/*//////////////////////////////////////////////////////////////////
[ Main ]*/
section{
  margin-top: 100px;
}
section h1 {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-family: JosefinSans-Bold, sans-serif;
  font-size: 30px;
  color: #57b846;
}

.container .main-content {
  margin-top: 100px;

}


main {
  margin-top: 15px;
  background-color: white;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.4;
}

.txt2 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #57b846;
  line-height: 1.4;
}

.txt3 {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #57b846;
  line-height: 1;
  text-transform: uppercase;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #fff;
}

.wrap-login100 {
  width: 500px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
  position: relative;
}

.login100-form-title {
  font-family: JosefinSans-Bold;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;

  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #57b846;
  padding-top: 50px;
  padding-bottom: 39px;
}

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 27px;
  position: relative;
  z-index: 1;
}

.input100 {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #1b3815;
  line-height: 1.2;

  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  background: #ebebeb;
  border-radius: 27px;
  padding: 0 35px 0 35px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #ebebeb;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;

  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #1b3815;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 1000;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 14px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;

  font-family: Ubuntu-Bold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 1100;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
.list-social {
  padding: 10px;
}

.list-social li {
  display: inline;
  margin-right: 10px;
}

/* Estilos para la sección de contacto */
.list-social a {
  color: white;
  text-decoration: none;
}

/* Estilos para el formulario de contacto */
.form-contact {
  margin-top: 20px;
}

/* Estilo para la sección de derechos de autor */
.row {
  margin-top: 20px;
}

/* Estilo para los enlaces en el pie de página */
.footer-links a {
  color: #4CAF50;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

footer {
  padding: 10px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: #fff;
}

footer a {
  color: #fff;
}

footer p {
  margin: 10px;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  margin-bottom: 0;
}

form {
  margin-top: 10px;
}

article {
  background-color: white;
  text-align: justify;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  flex: 3;
  margin: 0 20px;
  overflow-y: auto;
  height: auto;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.contenido {
  flex: 1;
  margin-bottom: 10px;
  width: 70%; /* Ajusta el ancho según sea necesario */
}

.porcentajes {
  position: relative;
  width: 10%; /* Ajusta el ancho según sea necesario */
  margin-left: 20px; /* Agrega espacio entre los dos divs */
  width: 100px;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes rellenar {
  to {
    stroke-dasharray: var(--porcentaje) 100;
  }
}

body {
  gap: 30px;
}
.porcentajes {
  position: relative;
}

.porcentajes span {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 25px/1em Verdana;
}

.porcentajes .spanN {
  position: absolute;
  top: calc(100% + 5px); /* Posiciona el elemento por debajo del span */
  left: 50%;
  margin-left: 30px;
  transform: translateX(-50%);
  font: 10px/1em Verdana;
}

circle {
  fill: none;
  stroke-width: 20;
  transform: rotate(-90deg);
  transform-origin: 50%;
  stroke-dasharray: 100 100;
  stroke: #AAA;
}

circle:nth-child(2) {
  stroke: var(--color);
  stroke-dasharray: 0 100;
  animation: rellenar .35s linear forwards;
}

.porcentajes .spanP {
  font-size: 24px; /* Tamaño de fuente del porcentaje */
  margin-left: 50px;;
}

#search-box {
  position: relative;
  width: 100%;
  margin: 0;
}
#search-form {
  height: 32px;
  border: 1px solid #feacae;
  background-color: #fff;
  overflow: hidden;
}
#search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}

#search-box input[type="text"] {
  width: 90%;
  padding: 8px 0 12px 1em;
  color: #333;
  outline: none;
}
#search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  width: 80px;
  font-size: 14px;
  color: #555;
  text-align: center;
  line-height: 4px;
  border-width: 0;
  background-color: #cbf3ee;
  cursor: pointer;
}

.recetas {
  margin-top: 90px;
  padding-top: 90px;
  width: 80%;
  margin: 0 auto;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

    /*//////////////////////////////////////////////////////////////////
    [ RECETAS SECTION ]*/

    .recetas {
      margin-top: 90px;
      padding-top: 90px;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 100px; /* Agrega margen inferior para dejar espacio al footer */
  }

  .recetas main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .recetas .title {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
      font-family: JosefinSans-Bold, sans-serif;
      font-size: 30px;
      color: #57b846;
  }

  .recetas .buscar-wrapper {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .recetas .buscar-wrapper input[type="text"] {
      width: 70%;
      height: 40px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
      outline: none;
  }

  .recetas .buscar-wrapper button {
      width: 20%;
      height: 40px;
      margin-left: 10px;
      background-color: #57b846;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      outline: none;
  }

  .recetas .receta {
      width: calc(33.33% - 20px); /* Cambiado a 33.33% */
      margin-bottom: 40px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
  }

  .recetas .receta h2 {
      font-family: Ubuntu-Bold, sans-serif;
      font-size: 20px;
      color: #57b846;
      margin-bottom: 10px;
      font-weight: bold; /* Agregado */
  }

  .recetas .receta ul {
      padding-left: 20px;
  }

  .recetas .receta li {
      margin-bottom: 5px;
  }

  @media (max-width: 768px) {
      .recetas .receta {
          width: 100%;
      }
  }

  .zoom {
    transition: transform 0.3s;
  }

  .zoom:hover {
      transform: scale(1.1);
  }

  .info-nutricional {
    margin: 0 auto; /* Esto centra el div horizontalmente */
    width: 80%; /* Ajusta el ancho según tus necesidades */
}

/* Estilos para la tabla */
.nutrient-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrient-table th, .nutrient-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.nutrient-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.nutrient-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.nutrient-table tr:hover {
    background-color: #ddd;
}

.nutrient-table td {
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.container-login100-form-btn {
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  text-align: right; /* Alinea el texto a la derecha */
}

.container-login100-form-btn p {
  font-family: Ubuntu-Regular; /* Establece la fuente del texto */
  font-size: 14px; /* Tamaño de fuente */
  color: #666666; /* Color del texto */
}
