{%extends 'layout.html'%}
{% block body %}
<!--La <section>etiqueta define una sección en un documento.-->
<form name="formulario" id="formulario" action="/agregar_cliente" method="post">
<!--El atributo name permite a un script acceder a su contenido.-->
<!--vamos a darle un id para utilizar CSS-->
<!--action a donde voy a enviar la informacion-->
<!--method como se envían los datos al servidor, mediante la url (get) o escondido (post)-->
	<fieldset> <legend> Datos de Formulario</legend>
	<!--fieldset recuadra y crea una etiqueta con legend para todo el formulario-->
	<label for="telefono">Tu telefono:</label>
	<br> <!--Salto de línea-->
	<!--for indica a qué elemento se asocia la etiqueta-->
	<input   type="tel" name="telefono" id="telefono" value="" placeholder="Escribe el teléfono aquí..."/>
	<!--El atributo name permite a un script acceder a su contenido.
  	placeholder:Esta indicación es mostrada por el navegador cuando el elemento no tiene valor asignado o este sea un valor vacío.
	id se utiliza para unir el label con el input-->
	<br> <!--Salto de línea -->

	<label for="nombre">Tu nombre:</label>
	<br> <!--Salto de línea-->
	<!--for indica a qué elemento se asocia la etiqueta-->
	<input   type="text" name="nombre" id="nombre" value="" placeholder="Escribe el nombre aquí..."/>
	<!--El atributo name permite a un script acceder a su contenido.
  	placeholder:Esta indicación es mostrada por el navegador cuando el elemento no tiene valor asignado o este sea un valor vacío.
	id se utiliza para unir el label con el input-->
	<br> <!--Salto de línea -->
	<label for="apellido">Tu apellido:</label>
	<br>
	<input   type="text" name="apellido" id="apellido" value="" placeholder="Escribe el apellido aquí..."/>
	<br>
	<input type="submit" value= "Enviar" />
	</fieldset>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
{% endif %}
{% endwith %}
</section>
<table>
  <thead>
	<tr>
  	<td> Nombre </td>
  	<td> Apellido </td>
  	<td> Telefono </td>
  	<td> Operacion </td>
	</tr>
  </thead>
  <tbody>
	{% for invitado in invitados %}
	<tr>
  	<td>{{invitado.1}}</td>
  	<td>{{invitado.2}}</td>
  	<td>{{invitado.3}}</td>
  	<td>
    	<a href="/borrar/{{invitado.0}}">Borrar</a>
  	</td>
	</tr>  
	{% endfor %}
  </tbody>
</table>
{% endblock%}


