{% extends 'base.html' %}

{% block content %}
<style>
    .soon-to-be-out {
        opacity: 0.7;
        vertical-align: middle;
    }
    .out-of-season {
        filter: grayscale(100%);
    }
    .product-description, .info-note {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1;
        width: 200px; /* Ajusta el ancho según sea necesario */
        font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
    }
    .month-filter {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .month-filter .month {
        cursor: pointer;
    }
    .month-filter .active {
        font-weight: bold;
        color: blue;
    }
    .info-icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 10px;
    }
    #productSearch {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
        border: 2px solid #000; /* Borde del buscador */
        border-radius: 25px; /* Esquinas redondeadas */
        outline: none; /* Quitar el contorno por defecto al hacer clic */
    }
    #searchResults {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #searchResults .list-group-item {
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    #searchResults .list-group-item img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    #searchResults .list-group-item:hover {
        background-color: #f0f0f0;
    }
</style>

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <ul class="month-filter">
            {% for month in ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'] %}
                <li>
                    <span class="month text-center" data-month="{{ month }}" onclick="changeMonth('{{ month }}')">{{ month }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <input type="text" id="productSearch" placeholder="Buscar productos..." oninput="filterProducts()">
            <ul id="searchResults" class="list-group" style="display: none; position: absolute; width: 100%; z-index: 1;"></ul>
        </div>
    </div>

    <div class="row">
        <h2>En temporada
            <img src="../static/images/icons/information-svgrepo-com.svg" alt="Información" class="info-icon" onclick="toggleDescription(event, document.getElementById('infoNote'))">
            <div class="info-note" id="infoNote">Clicka un producto para ver su descripción. Los productos salen con las temporadas en función de la cosecha española. No disponemos información de productos que no sean de origen español con el fin de fomentar el producto local.</div>
        </h2>
        <div class="col-md-6">
            <img src="../static/images/icons/sand-clock-time-svgrepo-com.svg" alt="Producto entrando o saliendo de temporada" style="width: 5%; vertical-align: middle;">
            <p style="display: inline-block; vertical-align: middle;">Producto entrando o saliendo de temporada</p>
        </div>
    </div>

    <div class="row" id="products-container">
        <!-- Productos en temporada -->
        {% set index = 0 %}
        {% for product in in_season %}
            <div class="col-md-4 text-center product-item" data-product="{{ product[1] }}">
                <div class="product-container">
                    <img src="../static/images/products/{{ product[6] }}" class="img-fluid" alt="{{ product[1] }}" onclick="toggleDescription(event, this.nextElementSibling)">
                    <div class="product-description">{{ product[5] }}</div>
                </div>
                <p>{{ product[1] }}</p>
            </div>
            {% set index = index + 1 %}
            {% if index % 3 == 0 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}

        <!-- Productos empezando temporada -->
        {% for product in start_of_season %}
            <div class="col-md-4 text-center product-item" data-product="{{ product[1] }}">
                <div class="product-container">
                    <img src="../static/images/products/{{ product[6] }}" class="img-fluid soon-to-be-out" alt="{{ product[1] }}" onclick="toggleDescription(event, this.nextElementSibling)">
                    <div class="product-description">{{ product[5] }}</div>
                </div>
                <p>{{ product[1] }}</p>
                <img src="../static/images/icons/sand-clock-time-svgrepo-com.svg" style="width: 10%;">
            </div>
            {% set index = index + 1 %}
            {% if index % 3 == 0 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>

    <h2>Fuera de Temporada</h2>
    <div class="row">
        {% for product in out_of_season %}
        <div class="col-md-4 text-center product-item" data-product="{{ product[1] }}">
            <div class="product-container">
                <img src="../static/images/products/{{ product[6] }}" class="img-fluid out-of-season" alt="{{ product[1] }}" onclick="toggleDescription(event, this.nextElementSibling)">
                <div class="product-description">{{ product[5] }}</div>
            </div>
            <p>{{ product[1] }}</p>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    function toggleDescription(event, element) {
        event.stopPropagation();
        var descriptions = document.querySelectorAll('.product-description');
        var notes = document.querySelectorAll('.info-note');

        if (element.style.display === "none" || element.style.display === "") {
            // Cerrar todas las descripciones y notas
            descriptions.forEach(function(description) {
                description.style.display = "none";
            });

            notes.forEach(function(note) {
                note.style.display = "none";
            });

            // Abrir la descripción o nota clicada
            element.style.display = "block";
        } else {
            // Cerrar la descripción o nota clicada
            element.style.display = "none";
        }
    }

    function changeMonth(month) {
        const url = new URL(window.location.href);
        url.searchParams.set('mes', month);
        window.location.href = url.toString();
    }

    function filterProducts() {
        const searchInput = document.getElementById('productSearch').value.toLowerCase();
        const products = document.querySelectorAll('.product-item');
        const searchResults = document.getElementById('searchResults');
        searchResults.innerHTML = ''; // Clear previous results

        if (searchInput) {
            let results = [];
            products.forEach(product => {
                const productName = product.getAttribute('data-product').toLowerCase();
                if (productName.includes(searchInput)) {
                    const productImage = product.querySelector('img').src;
                    results.push({ name: productName, image: productImage });
                }
            });

            if (results.length > 0) {
                searchResults.style.display = 'block';
                results.forEach(result => {
                    const li = document.createElement('li');
                    li.className = 'list-group-item';
                    li.innerHTML = `<img src="${result.image}" alt="${result.name}">${result.name}`;
                    li.onclick = () => {
                        document.getElementById('productSearch').value = result.name;
                        searchResults.style.display = 'none';
                        showFilteredProducts(result.name);
                    };
                    searchResults.appendChild(li);
                });
            } else {
                searchResults.style.display = 'none';
            }
        } else {
            searchResults.style.display = 'none';
            showFilteredProducts('');
        }
    }

    function showFilteredProducts(productName) {
        const products = document.querySelectorAll('.product-item');
        products.forEach(product => {
            if (!productName || product.getAttribute('data-product').toLowerCase() === productName.toLowerCase()) {
                product.style.display = 'block';
            } else {
                product.style.display = 'none';
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        const currentMonth = "{{ current_month }}";
        document.querySelector(`.month[data-month="${currentMonth}"]`).classList.add('active');

        document.addEventListener('click', function(event) {
            // Cerrar todas las descripciones y notas al hacer clic en cualquier otro lugar de la pantalla
            var descriptions = document.querySelectorAll('.product-description');
            var notes = document.querySelectorAll('.info-note');

            descriptions.forEach(function(description) {
                if (description.style.display === "block") {
                    description.style.display = "none";
                }
            });

            notes.forEach(function(note) {
                if (note.style.display === "block") {
                    note.style.display = "none";
                }
            });
        });
    });
</script>
{% endblock %}
