{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 100px;">
    <h2>Productos de Temporada</h2>
    <div class="row">
        {% for product in in_season %}
        <div class="col-md-4 text-center">
            <img src="../static/images/products/{{ product[6] }}" class="img-fluid" alt="{{ product[1] }}">
            <p>{{ product[1] }}</p>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <h2>Fuera de Temporada</h2>
    <div class="row">
        {% for product in out_of_season %}
        <div class="col-md-4 text-center">
            <img src="../static/images/products/{{ product[6] }}" class="img-fluid" alt="{{ product[1] }}">
            <p>{{ product[1] }}</p>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <h2>Recién Llegados / A Punto de Salir</h2>
    <div class="row">
        {% for product in start_of_season %}
        <div class="col-md-4 text-center">
            <img src="../static/images/products/{{ product[6] }}" class="img-fluid" alt="{{ product[1] }}">
            <p>{{ product[1] }}</p>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
