{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 100px;">
    <h2>Productos de Temporada</h2>
    <div class="row">
        {% for image in in_season_images %}
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/products/in_season/' ~ image) }}" class="img-fluid" alt="{{ image }}">
            <p>{{ image.split('.')[0] }}</p>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <h2>Fuera de Temporada</h2>
    <div class="row">
        {% for image in out_of_season_images %}
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/products/out_of_season/' ~ image) }}" class="img-fluid" alt="{{ image }}">
            <p>{{ image.split('.')[0] }}</p>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <h2>Recién Llegados / A Punto de Salir</h2>
    <div class="row">
        {% for image in start_of_season_images %}
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/products/start_of_season/' ~ image) }}" class="img-fluid" alt="{{ image }}">
            <p>{{ image.split('.')[0] }}</p>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
