{% extends 'base.html' %}

{% block content %}
<section class="añadir-comida">
    <h1>Añadir Comida</h1>
    <form class="añadir-comida-form" method="post" id="añadirComidaForm">
        <div class="form-group">
            <label for="nombreComida">Nombre de la Comida:</label>
            <input type="text" id="nombreComida" name="nombreComida" placeholder="Nombre de la Comida" required>
        </div>
        <div class="form-group">
            <label for="tipoComida">Tipo de Comida:</label>
            <input type="text" id="tipoComida" name="tipoComida" placeholder="Tipo de Comida" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" placeholder="Descripción" required></textarea>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
        </div>
        <div class="form-group">
            <button type="submit" id="btnAñadirComida">Añadir</button>
        </div>
        <div class="notification" id="toastNotification" style="display: none;">
            <div class="notification__body">
                <img src="{{url_for('static', filename='images/icons/check-circle.svg')}}" alt="Success" class="notification__icon">
                Comida añadida! &#128640; 
            </div>
            <div class="notification__progress"></div>
        </div>
    </form>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var añadirComidaForm = document.getElementById('añadirComidaForm');
        var toastNotification = document.getElementById('toastNotification');

        añadirComidaForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar el envío del formulario
            toastNotification.style.display = 'block';
            setTimeout(function() {
                toastNotification.style.display = 'none';
            }, 5000); // Aumentar el tiempo para mostrar la notificación
        });
    });
</script>
{% endblock %}
