{% extends 'base.html' %}

{% block content %}
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        display: none;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .loader-text {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        font-size: 1.5em;
        color: #3498db;
        display: none;
    }

    .blurred {
        filter: blur(5px);
    }

    .notification {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .error-message {
        color: red;
        margin-top: 10px;
    }

    .error-input {
        border-color: red;
    }

    .back-button {
        position: fixed;
        top: 120px;
        left: 20px;
        display: inline-block;
        padding: 10px 15px;
        font-size: 16px;
        color: #fff;
        background-color: #57b846;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s;
        z-index: 1; /* Asegura que el botón esté por debajo del nav */
    }
    .back-button:hover {
        background-color: #4b9e3e;
    }
    .info-text {
        max-width: 500px; /* Change this value to match your form width */
        margin-top: 20px;
    }
</style>
<div class="loader" id="loader"></div>
<div class="loader-text" id="loaderText">Añadiendo comida...</div>
<div class="notification" id="toastNotification">Comida añadida correctamente!</div>

<a href="{{ url_for('inicioUsu') }}" class="back-button">Volver</a>

<section class="añadir-alimento">
    <h1>Añadir Comida</h1>
    <form class="añadir-alimento-form" method="post" id="añadirComidaForm">
        <div class="info-text">
            <p>Una comida está conformada por varios alimentos. Por ejemplo, en el desayuno podemos tener dos alimentos, un zumo de naranja y unas tostadas de jamón y luego en la comida podemos tener un primer plato que sean garbanzos, un segundo pollo y de postre yogur danone.</p>
            <p>Una vez hayas añadido tu primera comida <a href="{{ url_for('añadirAlimento') }}">añádele los alimentos</a>.</p>
        </div>
        <div class="form-group">
            <label for="nombreComida">Nombre de la Comida:</label>
            <div class="input-box">
                <input type="text" id="nombreComida" name="nombreComida" placeholder="Nombre de la Comida" required>
            </div>
        </div>
        <div class="form-group">
            <label for="tipoComida">Tipo de Comida:</label>
            <select id="tipoComida" name="tipoComida" required>
                <option value="" disabled selected>Selecciona el tipo de comida</option>
                <option value="Desayuno">Desayuno</option>
                <option value="Almuerzo">Almuerzo</option>
                <option value="Comida">Comida</option>
                <option value="Merienda">Merienda</option>
                <option value="Cena">Cena</option>
            </select>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <div class="input-box">
                <textarea id="descripcion" name="descripcion" placeholder="Descripción" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
        </div>
        <div class="form-group">
            <button type="submit" method="post" action="{{ url_for('añadirComida') }}" id="btnAñadirComida">Añadir</button>
        </div>
        <div class="error-message" id="errorMessage"></div>
    </form>

</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var añadirComidaForm = document.getElementById('añadirComidaForm');
        var loader = document.getElementById('loader');
        var loaderText = document.getElementById('loaderText');
        var content = document.querySelector('.añadir-alimento');
        var toastNotification = document.getElementById('toastNotification');
        var errorMessage = document.getElementById('errorMessage');

        añadirComidaForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar el envío del formulario

            var nombreComida = document.getElementById('nombreComida');
            var tipoComida = document.getElementById('tipoComida');
            var descripcion = document.getElementById('descripcion');
            var fecha = document.getElementById('fecha');
            var isValid = true;
            var errorText = "";

            // Reset previous errors
            errorMessage.textContent = "";
            nombreComida.classList.remove('error-input');
            tipoComida.classList.remove('error-input');
            descripcion.classList.remove('error-input');
            fecha.classList.remove('error-input');

            // Validate fields
            if (!nombreComida.value.trim()) {
                errorText += "El nombre de la comida es obligatorio. ";
                nombreComida.classList.add('error-input');
                isValid = false;
            }
            if (!tipoComida.value) {
                errorText += "El tipo de comida es obligatorio. ";
                tipoComida.classList.add('error-input');
                isValid = false;
            }
            if (!descripcion.value.trim()) {
                errorText += "La descripción es obligatoria. ";
                descripcion.classList.add('error-input');
                isValid = false;
            }
            if (!fecha.value) {
                errorText += "La fecha es obligatoria. ";
                fecha.classList.add('error-input');
                isValid = false;
            } else {
                var selectedDate = new Date(fecha.value);
                var currentDate = new Date();
                if (selectedDate > currentDate) {
                    errorText += "La fecha no puede ser superior a la fecha actual. ";
                    fecha.classList.add('error-input');
                    isValid = false;
                }
            }

            if (isValid) {
                // Mostrar el loader, el texto y desenfocar el fondo
                loader.style.display = 'block';
                loaderText.style.display = 'block';
                content.classList.add('blurred');

                setTimeout(function() {
                    // Simular tiempo de carga y enviar el formulario
                    añadirComidaForm.submit();
                }, 2000);
            } else {
                errorMessage.textContent = errorText;
            }
        });

        if (new URLSearchParams(window.location.search).get('success') === 'true') {
            toastNotification.style.display = 'block';
            setTimeout(function() {
                toastNotification.style.display = 'none';
            }, 5000); // Mostrar la notificación por más tiempo
        }

        if (new URLSearchParams(window.location.search).get('success') === 'false') {
            alert('Error al añadir la comida. Inténtalo de nuevo.');
        }
    });
</script>

{% endblock %}
