{% extends 'base.html' %}

{% block content %}
<section class="añadir-alimento">
    <h1>Añadir Alimento</h1>
    <form class="añadir-alimento-form" method="post" id="añadirForm" action="{{ url_for('añadirAlimento') }}">
        <div class="form-group">
            <label for="nombre">Nombre del Alimento:</label>
            <div class="input-box">
                <input type="text" id="nombre" name="query" placeholder="Nombre del Alimento">
            </div>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <div class="input-box">
                <textarea id="descripcion" name="descripcion" placeholder="Descripción"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="comida">Comida:</label>
            <select name="comida" id="comida">
                {% for id_comida, nombre_comida in data.items() %}
                    <option value="{{ id_comida }}">{{ nombre_comida }}</option>
                {% endfor %}
                <option value="añadir" class="opcion-añadir">Añadir comida...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" placeholder="Cantidad">
            <select name="unidad">
                <option value="gr">gr</option>
                <option value="mg">mg</option>
                <option value="nanogr">nanogr</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" id="btnAñadir">Añadir</button>
        </div>
        <div class="notification" id="toastNotification" style="display: none;">
            <div class="notification__body">
                <img src="{{url_for('static', filename='images/icons/check-circle.svg')}}" alt="Success" class="notification__icon">
                Alimento añadido! &#128640; 
            </div>
            <div class="notification__progress"></div>
        </div>
    </form>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var añadirForm = document.getElementById('añadirForm');
        var toastNotification = document.getElementById('toastNotification');
        var selectComida = document.getElementById('comida');

        selectComida.addEventListener('change', function() {
            if (selectComida.value === 'añadir') {
                window.location.href = "{{ url_for('añadirComida') }}";
            }
        });

        añadirForm.addEventListener('submit', function(event) {
            toastNotification.style.display = 'block';
            setTimeout(function() {
                toastNotification.style.display = 'none';
            }, 5000); // Aumentar el tiempo para mostrar la notificación
        });
    });
</script>
{% endblock %}
