{% extends 'base.html' %}

{% block content %}
<section class="añadir-alimento">
    <h1>Añadir Alimento</h1>
    <form class="añadir-alimento-form" method="post" id="añadirForm">
        <div class="form-group">
            <label for="nombre">Nombre del Alimento:</label>
            <input type="text" id="nombre Alimento" name="Nombre del Alimento" placeholder="Nombre del Alimento">

        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" placeholder="Descripción"></textarea>
        </div>
        <div class="form-group">
            <label for="comida">Comida:</label>
            <select name="comida" id="comida">
                <option value="desayuno">Comida1</option>
                <option value="almuerzo">Comida2</option>
                <option value="cena">Comida3</option>
                <option value="añadir">Añadir comida...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" placeholder="Cantidad">
            <select name="unidad">
                <option value="gr">gr</option>
                <option value="mg">mg</option>
                <option value="nanogr">nanogr</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" id="btnAñadir">Añadir</button>
        </div>
        <div class="notification" id="toastNotification" style="display: none;">
            <div class="notification__body">
                <img
                    src="{{url_for('static', filename='images/icons/check-circle.svg')}}"
                    alt="Success"
                    class="notification__icon"
                >
                Alimento añadido! &#128640; 
            </div>
            <div class="notification__progress"></div>
        </div>
    </form>

    
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var añadirForm = document.getElementById('añadirForm');
        var toastNotification = document.getElementById('toastNotification');

        añadirForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar el envío del formulario
            toastNotification.style.display = 'block';
            setTimeout(function() {
                toastNotification.style.display = 'none';
            }, 5000); // Aumentar el tiempo para mostrar la notificación
        });
    });
</script>
{% endblock %}
