{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 100px;">
    <h1 class="my-4" style="text-align: center;">Blog Saludable</h1>
    <p> ¿Te gusta llevar un estilo de vida saludable?  En VeganMania apostamos por la alimentación saludable y trabajamos cada día por mejorar nuestros hábitos, no solo en lo que a la salud se refiere, sino que también tratamos de cuidar del entorno que nos rodea.</p>

    <p> Si compartes esta filosofía ¡No te puedes perder nuestro blog! Aquí compartimos nuestros mejores tips y mucha información que te encantará descubrir ¿Te animas a echarle un ojo? </p>
    <div class="row">
        <!-- Formulario de Búsqueda -->
        <div class="col-12 mb-4">
            <form id="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" id="search-input" placeholder="Buscar">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </span>
                </div>
            </form>
        </div>
        <!-- Lista de Artículos -->
        <div id="articles" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col mb-4 article-item" data-id="1">
                <div class="card h-100">
                    <img class="card-img-top fixed-img-size" src="static/images/blog_macroNutrientes.jpg" alt="Imagen de ejemplo">
                    <div class="card-body">
                        <h4 class="card-title">Macronutrientes: qué son y cómo entenderlos</h4>
                        <p class="card-text">os macronutrientes son los nutrientes que el cuerpo humano necesita en grandes cantidades para funcionar correctamente y proporcionar energía.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary read-more" data-id="1">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4 article-item" data-id="2">
                <div class="card h-100">
                    <img class="card-img-top fixed-img-size" src="static/images/blog_articulo2.jpg" alt="Imagen de ejemplo">
                    <div class="card-body">
                        <h4 class="card-title">Proteína Vegetal: Sus Beneficios Y En Qué Alimentos Puedes Encontrarla</h4>
                        <p class="card-text">La proteína vegetal es una alternativa saludable a la proteína de origen animal, ideal para vegetarianos y veganos.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary read-more" data-id="2">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4 article-item" data-id="3">
                <div class="card h-100">
                    <img class="card-img-top fixed-img-size" src="static/images/blog_articulo5.jpg" alt="Imagen de ejemplo">
                    <div class="card-body">
                        <h4 class="card-title">¿Qué es una dieta vegana?</h4>
                        <p class="card-text">Una dieta vegana es una dieta que es estrictamente vegetariana. Además de no comer carne, los vegetarianos estrictos no comen ningún tipo de alimento que provenga de animales. Esto incluye productos lácteos, huevos, miel y gelatina (la cual proviene de huesos y otros tejidos animales).</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary read-more" data-id="3">Leer más</a>
                    </div>
                </div>
            </div>            
            <!-- Nuevo Artículo -->
            <div class="col mb-4 article-item" data-id="4">
                <div class="card h-100">
                    <img class="card-img-top fixed-img-size" src="static/images/blog_articulo3.jpg" alt="Involucrar a los más pequeños en su alimentación">
                    <div class="card-body">
                        <h4 class="card-title">Cómo involucrar a los más pequeños en su alimentación</h4>
                        <p class="card-text">Los más pequeños deben estar informados acerca de su alimentación. Deben comer de todo, y ser conscientes de qué es lo que están comiendo.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary read-more" data-id="4">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4 article-item" data-id="5">
                <div class="card h-100">
                    <img class="card-img-top fixed-img-size" src="static/images/blog_articulo4.jpg" alt="Motivarse para hacer ejercicio">
                    <div class="card-body">
                        <h4 class="card-title">¿Cómo motivarse para hacer ejercicio y mantener la constancia?</h4>
                        <p class="card-text">Hacer ejercicio es una de las mejores formas de cuidar nuestra salud física y mental, ya que nos ayuda a prevenir enfermedades, mejorar nuestro estado de ánimo...</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary read-more" data-id="5">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Detalle del Artículo -->
        <div id="article-detail" class="col-12" style="display: none;">
            <div class="card">
                <img id="article-image" class="card-img-top full-img-size" src="" alt="Imagen del artículo">
                <div class="card-body">
                    <h4 class="card-title" id="article-title"></h4>
                    <div id="article-content"></div>
                    <button id="back-button" class="btn btn-secondary mt-3 back-button-custom">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
const articles = {
    1: {
        title: "Macronutrientes: qué son y cómo entenderlos",
        image: "static/images/blog_macroNutrientes.jpg",
        content: `
            <p>¿Te has preguntado alguna vez qué son los macronutrientes y por qué son importantes para tu salud? En este artículo, exploraremos en detalle qué son los macronutrientes, cómo se relacionan con una dieta equilibrada y cómo pueden beneficiar tu bienestar general. Si estás buscando mejorar tu alimentación y conocer los aspectos básicos de la nutrición, estás en el lugar adecuado. ¡Sigue leyendo para descubrir todo lo que necesitas saber sobre los macronutrientes!</p>
            <h2>Índice de contenidos</h2>
            <ul>
                <li><a href="#section-1">1. ¿Qué son los macronutrientes?</a></li>
                <ul>
                    <li><a href="#section-1-1">1.1 Proteínas: los bloques de construcción del cuerpo</a></li>
                    <li><a href="#section-1-2">1.2 Carbohidratos: la fuente de energía principal</a></li>
                    <li><a href="#section-1-3">1.3 ¿Qué son los carbohidratos netos?</a></li>
                    <li><a href="#section-1-4">1.4 Grasas: Más que un mal necesario</a></li>
                </ul>
                <li><a href="#section-3">3. ¿Qué son las calorías?</a></li>
                <li><a href="#section-4">4. La importancia del equilibrio</a></li>
            </ul>
            <h3 id="section-1">¿Qué son los Macronutrientes?</h3>
            <p>En primer lugar, es fundamental comprender qué son los macronutrientes. Los macronutrientes son los componentes esenciales de los alimentos que proporcionan energía a nuestro cuerpo. Se dividen en tres categorías principales: proteínas, carbohidratos y grasas. Cada uno de estos macronutrientes desempeña un papel único en nuestro organismo y es necesario para el correcto funcionamiento de nuestras células, tejidos y sistemas.</p>
            <h3 id="section-1-1">Proteínas: Los Bloques de Construcción del Cuerpo</h3>
            <p>Las proteínas son uno de los macronutrientes más importantes para nuestro cuerpo. Son los bloques de construcción que nos permiten desarrollar y mantener nuestros músculos, huesos y tejidos. Las proteínas también desempeñan un papel crucial en la producción de enzimas y hormonas, así como en el sistema inmunológico. Además, ayudan a transportar diferentes tipos de gases por nuestro cuerpo, como pueden ser el oxígeno y el dióxido de carbono. Fuentes de proteínas incluyen carne, pescado, huevos, lácteos, legumbres y frutos secos.</p>
            <h3 id="section-1-2">Carbohidratos: La Fuente de Energía Principal</h3>
            <p>Los carbohidratos o hidratos de carbono son la principal fuente de energía para nuestro cuerpo. Son necesarios para alimentar nuestras células y mantenernos activos a lo largo del día. Los hidratos de carbono se dividen en dos categorías: simples y complejos. Los carbohidratos simples se encuentran en alimentos como azúcares, dulces y refrescos, y se absorben rápidamente en nuestro organismo, brindando una energía rápida pero transitoria. Los carbohidratos complejos, por otro lado, se encuentran en alimentos como granos enteros, frutas y verduras, y proporcionan energía sostenida a lo largo del tiempo.</p>
            <h3 id="section-1-3">¿Qué son los carbohidratos netos?</h3>
            <p>Los carbohidratos netos son un tipo de macronutrientes (derivados de los hidratos de carbono) que hacen referencia a los hidratos de carbono que absorbe nuestro cuerpo. Por tanto, los carbohidratos netos es el resultado de restar a los hidratos de carbono del alimento su fibra (en alimentos integrales sobre todo) y los edulcorantes conocidos como alcoholes de azúcar (como el eritritol) si es que contienen.</p>
            <h3 id="section-1-4">Grasas: Más que un Mal Necesario</h3>
            <p>Aunque a menudo se asocian con algo negativo, las grasas también son un macronutriente esencial para nuestro cuerpo. Proporcionan energía concentrada y ayudan a absorber las vitaminas liposolubles (A, D, E y K). Sin embargo, no todas las grasas son iguales. Es importante elegir grasas saludables, como las encontradas en el aguacate, las nueces y el aceite de oliva, en lugar de grasas saturadas o trans, que pueden ser perjudiciales para la salud cardiovascular.</p>
            <p>✔️ Grasas saturadas: Se encuentran mayormente en alimentos de origen animal. Aunque pueden elevar el colesterol, una dieta saludable debe contener un 10% de grasas saturadas.</p>
            <p>✔️ Grasas trans: Este tipo de grasa no es natural, puesto que se obtiene a través de un proceso llamado hidrogenación. Se usa en alimentos procesados para mejorar la textura de los mismos, pero son grasas muy insalubres.</p>
            <p>✔️Grasas insaturadas: son las grasas saludables, proveniente mayormente de aceite de origen vegetal. Debes consumir este tipo de grasas en mayor cantidad puesto que pueden ayudarte a regular el colesterol en sangre.</p>
            <h3 id="section-3">¿Qué son las calorías?</h3>
            <p>Además de los macronutrientes anteriores, las calorías también desempeñan un papel esencial en nuestra alimentación. Las calorías son la unidad de medida de la energía que obtenemos de los alimentos que consumimos. Consumir demasiadas calorías puede llevar al aumento de peso, mientras que consumir muy pocas puede resultar en una falta de energía y nutrientes esenciales. Es importante entender que el equilibrio calórico también es clave para mantener una alimentación saludable.</p>
            <h3 id="section-4">La Importancia del Equilibrio</h3>
            <p>Ahora que sabemos qué son los macronutrientes y cómo se dividen, es esencial comprender la importancia de mantener un equilibrio adecuado en nuestra dieta. Cada uno de los macronutrientes desempeña un papel vital en nuestro organismo, y consumirlos en las proporciones adecuadas es fundamental para nuestra salud y bienestar. Una dieta equilibrada debe incluir una combinación adecuada de proteínas, carbohidratos y grasas, adaptada a las necesidades individuales de cada persona.</p>
            <p>En resumen, los macronutrientes son los componentes esenciales de los alimentos que nos proporcionan la energía necesaria para funcionar adecuadamente. Las proteínas, los carbohidratos y las grasas desempeñan papeles únicos en nuestro organismo y son vitales para nuestro bienestar general. Mantener un equilibrio adecuado de estos macronutrientes, junto con un control de calorías, es fundamental para una alimentación saludable y equilibrada.</p>
            <p>Recuerda que conocer y comprender los fundamentos de la nutrición es un paso importante hacia un estilo de vida más saludable. Si deseas obtener más información sobre los macronutrientes y cómo pueden afectar tu salud, asegúrate de consultar a un profesional de la nutrición o a un dietista profesional. ¡Empieza hoy mismo a cuidar tu alimentación y a disfrutar de los beneficios de una vida saludable y activa!</p>
        `
    },
    2: {
        title: "Proteína Vegetal: Sus Beneficios Y En Qué Alimentos Puedes Encontrarla",
        image: "static/images/blog_articulo2.jpg",
        content: `
            <p>La proteína es un nutriente esencial para nuestro organismo, ya que desempeña un papel crucial en el crecimiento, reparación y mantenimiento de los tejidos. Si estás buscando una alternativa saludable a la proteína de origen animal, la proteína vegetal puede ser la opción perfecta. En este artículo, exploraremos qué es la proteína vegetal, cómo se diferencia de la proteína de origen animal, los beneficios y las desventajas que ofrece, así como una lista de alimentos ricos en proteínas vegetales.</p>
            <h2>Índice de contenidos</h2>
            <ul>
                <li><a href="#section-1">1. ¿Qué es la proteína vegetal?</a></li>
                <ul>
                    <li><a href="#section-1-1">1.1 Diferencias entre la proteína vegetal y la proteína de origen animal</a></li>
                </ul>
                <li><a href="#section-2">2. Beneficios de la proteína vegetal</a></li>
                <ul>
                    <li><a href="#section-2-1">2.1 Salud cardiovascular</a></li>
                    <li><a href="#section-2-2">2.2 Control de peso</a></li>
                    <li><a href="#section-2-3">2.3 Salud digestiva</a></li>
                    <li><a href="#section-2-4">2.4 Nutrición completa</a></li>
                </ul>
                <li><a href="#section-3">3. Desventajas de la proteína vegetal</a></li>
                <ul>
                    <li><a href="#section-3-1">3.1 Aminoácidos esenciales</a></li>
                    <li><a href="#section-3-2">3.2 Absorción de nutrientes</a></li>
                </ul>
                <li><a href="#section-4">4. Alimentos ricos en proteínas vegetales</a></li>
                <ul>
                    <li><a href="#section-4-1">4.1 Legumbres</a></li>
                    <li><a href="#section-4-2">4.2 Granos enteros</a></li>
                    <li><a href="#section-4-3">4.3 Frutos secos y semillas</a></li>
                    <li><a href="#section-4-4">4.4 Productos de soja</a></li>
                </ul>
                <li><a href="#section-5">5. Tabla de proteínas vegetales</a></li>
            </ul>
            <h3 id="section-1">¿Qué es la proteína vegetal?</h3>
            <p>La proteína vegetal se encuentra en alimentos de origen vegetal, como legumbres, granos enteros, frutos secos, semillas y algunos vegetales, a diferencia de la proteína animal, que proviene de fuentes como la carne, los huevos y los lácteos. Esto la convierte en una opción ideal para vegetarianos, veganos y aquellos que buscan reducir su consumo de carne.</p>
            <h4 id="section-1-1">Diferencias entre la proteína vegetal y la proteína de origen animal</h4>
            <p>Además de su origen, existen otras diferencias entre la proteína vegetal y la de origen animal. La proteína de origen vegetal tiende a ser más baja en grasas saturadas y colesterol, lo que la convierte en una opción más saludable para el corazón. También suele ser rica en fibra y antioxidantes, lo que puede promover la salud digestiva y combatir el estrés oxidativo en el cuerpo.</p>
            <p>Por otro lado, la proteína animal generalmente contiene todos los aminoácidos esenciales en cantidades adecuadas, mientras que ciertas proteínas vegetales pueden ser deficientes en uno o más aminoácidos esenciales. Sin embargo, esto se puede compensar combinando diferentes fuentes de proteínas vegetales para asegurar una ingesta completa de aminoácidos.</p>
            <h3 id="section-2">Beneficios de la proteína vegetal</h3>
            <p>La proteína vegetal ofrece una serie de beneficios para la salud. Algunos de ellos son:</p>
            <h4 id="section-2-1">✔️ Salud cardiovascular</h4>
            <p>La proteína vegetal, al ser baja en grasas saturadas y colesterol, puede ayudar a reducir el riesgo de enfermedades cardíacas y mantener niveles saludables de colesterol en sangre.</p>
            <h4 id="section-2-2">✔️ Control de peso</h4>
            <p>Las proteínas vegetales suelen tener un alto contenido de fibra y sacian el apetito, lo que puede ayudar a controlar el peso corporal y prevenir el exceso de ingesta calórica.</p>
            <h4 id="section-2-3">✔️ Salud digestiva</h4>
            <p>La fibra presente en los alimentos ricos en proteínas vegetales promueve una digestión saludable, previene el estreñimiento y favorece el equilibrio de la microbiota intestinal.</p>
            <h4 id="section-2-4">✔️ Nutrición completa</h4>
            <p>Aunque algunas proteínas vegetales pueden ser deficientes en ciertos aminoácidos, combinando diferentes fuentes de proteínas vegetales, como legumbres y cereales, se puede obtener una nutrición completa y equilibrada.</p>
            <h3 id="section-3">Desventajas de la proteína vegetal</h3>
            <p>Aunque la proteína vegetal ofrece numerosos beneficios, también existen algunas desventajas que debemos tener en cuenta:</p>
            <h4 id="section-3-1">✖️ Aminoácidos esenciales</h4>
            <p>Algunas proteínas vegetales son deficientes en uno o más aminoácidos esenciales. No obstante, una dieta variada que incluya diferentes fuentes de proteínas vegetales puede proporcionar todos los aminoácidos necesarios.</p>
            <h4 id="section-3-2">✖️ Absorción de nutrientes</h4>
            <p>Algunas proteínas vegetales contienen antinutrientes, como los fitatos, que pueden dificultar la absorción de ciertos minerales, como el hierro y el zinc. Sin embargo, técnicas como el remojo y la fermentación pueden reducir la presencia de estos antinutrientes.</p>
            <h3 id="section-4">Alimentos ricos en proteínas vegetales</h3>
            <p>Afortunadamente, hay una amplia variedad de alimentos vegetales ricos en proteínas que puedes incorporar a tu dieta. Algunas opciones incluyen:</p>
            <h4 id="section-4-1">Legumbres</h4>
            <p>Los frijoles, lentejas, garbanzos y guisantes son excelentes fuentes de proteínas vegetales. Puedes disfrutar de ellos en sopas, ensaladas, guisos o como base para hamburguesas vegetarianas.</p>
            <h4 id="section-4-2">Granos enteros</h4>
            <p>El trigo integral, la quinoa, el arroz integral y la avena son granos que contienen proteínas. Estos alimentos versátiles se pueden utilizar como guarniciones, en ensaladas o como ingredientes principales en platos principales.</p>
            <h4 id="section-4-3">Frutos secos y semillas</h4>
            <p>Las almendras, nueces, semillas de chía y semillas de cáñamo son ricas en proteínas y grasas saludables. Agrégalas a tus batidos, ensaladas o disfrútalas como snacks.</p>
            <h4 id="section-4-4">Productos de soja</h4>
            <p>El tofu y el tempeh son alimentos derivados de la soja que ofrecen una cantidad significativa de proteínas. Pueden ser utilizados en numerosas recetas, desde salteados hasta sándwiches.</p>
            <h3 id="section-5">Tabla de proteínas vegetales</h3>
            <p>Con el fin de poder visualizar más gráficamente qué alimentos nos aportan proteínas de origen vegetal y en qué cantidad, hemos elaborado una tabla muy sencilla para que la puedas consultar:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Alimentos</th>
                        <th>Proteínas por cada 100 g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alga Espirulina</td>
                        <td>57g</td>
                    </tr>
                    <tr>
                        <td>Levadura nutricional</td>
                        <td>45g - 55g</td>
                    </tr>
                    <tr>
                        <td>Seitán</td>
                        <td>24g - 75g</td>
                    </tr>
                    <tr>
                        <td>Semilla de cáñamo</td>
                        <td>31g</td>
                    </tr>
                    <tr>
                        <td>Almendra</td>
                        <td>21g</td>
                    </tr>
                    <tr>
                        <td>Pipas de girasol</td>
                        <td>21g</td>
                    </tr>
                    <tr>
                        <td>Semilla de sésamo</td>
                        <td>20.9g</td>
                    </tr>
                    <tr>
                        <td>Nueces</td>
                        <td>20g</td>
                    </tr>
                    <tr>
                        <td>Semilla de calabaza</td>
                        <td>19g</td>
                    </tr>
                    <tr>
                        <td>Tampeh</td>
                        <td>19g</td>
                    </tr>
                    <tr>
                        <td>Semilla de lino</td>
                        <td>18g</td>
                    </tr>
                    <tr>
                        <td>Anacardo</td>
                        <td>18g</td>
                    </tr>
                    <tr>
                        <td>Semilla de chía</td>
                        <td>17g</td>
                    </tr>
                    <tr>
                        <td>Copos de avena</td>
                        <td>16.6g</td>
                    </tr>
                    <tr>
                        <td>Avellana</td>
                        <td>15g</td>
                    </tr>
                    <tr>
                        <td>Edamame</td>
                        <td>11g</td>
                    </tr>
                    <tr>
                        <td>Nuez pecana</td>
                        <td>9g</td>
                    </tr>
                    <tr>
                        <td>Lentejas</td>
                        <td>9g</td>
                    </tr>
                    <tr>
                        <td>Alubia</td>
                        <td>6g</td>
                    </tr>
                </tbody>
            </table>
            <p>Ten en cuenta que los valores de esta tabla son aproximados, por lo que debes usarla como referencia.</p>
            <p>En conclusión, la proteína vegetal es una excelente opción para aquellos que desean adoptar una dieta más equilibrada y saludable. Aunque puede haber diferencias en la composición de aminoácidos entre las proteínas vegetales y las de origen animal, una combinación adecuada de fuentes de proteínas vegetales puede proporcionar todos los nutrientes necesarios para una dieta completa. Explora las diferentes opciones de alimentos ricos en proteínas vegetales y descubre una nueva forma de nutrir tu cuerpo de manera saludable y sostenible.</p>
        `
    },
    3: {
        title: "¿Qué es una dieta vegana?",
        image: "static/images/blog_articulo5.jpg",
        content: `
            <p>Una dieta vegana es una dieta que es estrictamente vegetariana. Además de no comer carne, los vegetarianos estrictos no comen ningún tipo de alimento que provenga de animales. Esto incluye productos lácteos, huevos, miel y gelatina (la cual proviene de huesos y otros tejidos animales).</p>
            <p>Hay muchas razones por las que algunas personas optan por una dieta vegana:</p>
            <ul>
                <li>Puede ser más saludable que otras dietas.</li>
                <li>Algunas personas piensan que está mal usar animales para la alimentación.</li>
                <li>Algunas religiones prohíben comer carne.</li>
                <li>Una dieta vegana puede costar menos que una dieta que incluye carne.</li>
                <li>Comer menos carne puede ser mejor para el medio ambiente, porque la mayor parte de la carne se produce comercialmente.</li>
                <li>A algunas personas no les gusta el sabor de la carne.</li>
            </ul>
            <h3>¿Es saludable una dieta vegana?</h3>
            <p>Si se planifica adecuadamente, una dieta vegana puede proporcionar todos los nutrientes que una persona necesita. Por lo general, las personas que no comen carne:</p>
            <ul>
                <li>Pesan menos que aquellas que comen carne.</li>
                <li>Tienen menos probabilidades de morir de enfermedad cardíaca.</li>
                <li>Tienen niveles más bajos de colesterol.</li>
                <li>Tienen menos probabilidades de tener:</li>
                <ul>
                    <li>Presión arterial alta.</li>
                    <li>Cáncer de próstata.</li>
                    <li>Cáncer de colon.</li>
                    <li>Diabetes tipo 2.</li>
                </ul>
            </ul>
            <p>La buena salud podría estar relacionada con una dieta centrada mayoritariamente en frutas, verduras y granos integrales.</p>
            <h3>Mantenga un equilibrio</h3>
            <p>Como vegetariano estricto, usted aún puede tener una dieta equilibrada.</p>
            <p>Sustitutos para 1 onza (28 g) de carne:</p>
            <ul>
                <li>¼ taza de frijoles cocidos, arvejas (chícharos) o lentejas</li>
                <li>½ onza (1 cucharada) de nueces o semillas</li>
                <li>¼ de taza de tofu o tempeh</li>
                <li>1 cucharada de mantequilla de cacahuate (maní)</li>
            </ul>
            <p>Sustitutos para los productos lácteos:</p>
            <ul>
                <li>Leche de soya enriquecida con calcio, vitamina D y vitamina B12. También puede probar leches enriquecidas a base de arroz, almendras o avena. Cuente 1 taza (8 onzas líquidas) como una porción.</li>
                <li>Queso de soya y yogur de soya enriquecidos.</li>
            </ul>
            <h3>¿Cómo pueden los vegetarianos estrictos tener una alimentación equilibrada?</h3>
            <p>A usted tal vez le preocupe no poder obtener todos los nutrientes que necesita con una dieta vegana. Pero siempre y cuando coma una variedad de alimentos, solo hay unas pocas cosas a las que tiene que prestar especial atención.</p>
            <ul>
                <li>Calcio para las personas que no consumen productos lácteos. Si no obtiene el calcio de productos lácteos, es necesario que coma una gran cantidad de otros alimentos ricos en calcio. Los cereales para el desayuno, la leche de soya y el jugo de naranja enriquecidos con calcio son buenas opciones. Enriquecido con calcio significa que el fabricante ha agregado calcio al alimento. Otros alimentos que contienen calcio incluyen determinadas legumbres, ciertas verduras de hojas verdes, nueces, semillas y tofu. Si usted no consume alimentos enriquecidos con calcio, pregúntele a su médico si debe tomar un suplemento diario de calcio.</li>
                <li>Vitamina D para las personas que no consumen productos lácteos. Consumir suficiente calcio y vitamina D es importante para mantener los huesos fuertes. Las personas que no consumen productos lácteos pueden utilizar leche de soya y cereales para el desayuno enriquecidos.</li>
                <li>Hierro. Obtener suficiente hierro no es un problema para los vegetarianos estrictos que se esfuerzan por comer una amplia variedad de alimentos. Nuestro cuerpo no absorbe el hierro de los alimentos de origen vegetal igual de bien que el de las carnes. Así que es importante que los vegetarianos estrictos coman regularmente alimentos ricos en hierro. Las fuentes de hierro veganas incluyen frijoles cocidos, arvejas y lentejas, verduras de hoja verde y productos hechos de granos enriquecidos con hierro. Y comer alimentos ricos en vitamina C ayuda al cuerpo a absorber el hierro.</li>
                <li>Vitamina B12. La vitamina B12 procede solo de fuentes animales. Si usted es vegetariano estricto, tendrá que depender de alimentos enriquecidos con esta vitamina (por ejemplo, leche de soya y cereales para el desayuno) o tomar suplementos. Esto es especialmente importante para las mujeres veganas que están embarazadas o amamantando.</li>
            </ul>
            <p>También puede obtener las vitaminas y los minerales enumerados anteriormente como suplementos.</p>
            <p>Al igual que las demás personas, los vegetarianos estrictos también tienen que asegurarse de que obtienen los siguientes nutrientes:</p>
            <ul>
                <li>Proteínas. Al considerar una dieta vegana, a muchas personas les preocupa no ingerir suficientes proteínas. Pero comer una amplia variedad de alimentos ricos en proteínas como productos de soya, legumbres, granos, frutos secos y semillas le proporcionará las proteínas que usted necesita.</li>
                <li>Ácidos grasos omega-3. Sin pescado ni huevos en su dieta, es necesario que encuentre otras buenas fuentes de ácidos grasos omega-3, como semillas de cáñamo, semillas de lino, semillas de calabaza, nueces de nogal ("walnuts"), ciertas verduras de hoja verde, aceite de soya, aceite de canola y verduras marinas (como arame, dulse, nori, algas, kombu o wakame).</li>
                <li>Zinc. Su cuerpo absorbe mejor el zinc cuando proviene de la carne que cuando proviene de plantas. Sin embargo, los vegetarianos estrictos no suelen tener problemas para obtener suficiente zinc si comen una gran variedad de otros alimentos que son buenas fuentes de zinc, incluyendo panes integrales, frijoles cocidos y lentejas, alimentos de soya y verduras.</li>
            </ul>
            <h3>¿Es seguro para los niños ser veganos?</h3>
            <p>Una dieta vegana bien planificada puede ser saludable para los niños. Los niños pequeños que son veganos tienden a tener una talla un poco inferior, pero aún están dentro de los intervalos de crecimiento normales. Y tienden a alcanzar la talla de otros niños a medida que se hacen mayores.</p>
            <p>Si usted está criando a un niño con una dieta vegetariana estricta, tome en cuenta lo siguiente:</p>
            <ul>
                <li>Los bebés que consumen solo leche materna deben tomar suplementos de hierro después de los 4 a 6 meses de edad (o usted puede agregar cereal enriquecido con hierro).</li>
                <li>Un suplemento de vitamina D puede ser apropiado para niños menores de 1 año de edad. Hable con su médico sobre qué cantidad y qué fuentes de vitamina D son adecuadas para su hijo.</li>
                <li>Los bebés amamantados por madres veganas necesitan suplementos de vitamina B12 si la dieta de la madre no está enriquecida.</li>
                <li>Cuando utilice la leche de soya, asegúrese de que sea leche de soya con toda su grasa. Los niños menores de 2 años necesitan la grasa adicional para el desarrollo del cerebro y los nervios. Y hable con su médico o un dietista registrado para asegurarse de que su hijo está obteniendo suficiente grasa.</li>
                <li>Las dietas veganas pueden contener mucha fibra. La fibra es muy buena porque hace que uno se llene sin añadir muchas calorías. Pero los niños tienen estómagos pequeños y la fibra que comen puede llenarlos antes de que lleguen a ingerir suficientes calorías. Las comidas y los refrigerios frecuentes —con bastantes cereales, legumbres y nueces— ayudarán a que los niños obtengan la energía y los nutrientes necesarios para un crecimiento sano.</li>
            </ul>
            <h3>¿Qué ocurre si su hijo adolescente decide volverse vegetariano estricto?</h3>
            <p>Con una planificación cuidadosa, una dieta vegana puede ser muy saludable para los adolescentes. De hecho, puede ser una gran forma de conseguir que establezcan hábitos alimentarios saludables de por vida.</p>
            <p>Si su hijo adolescente decide volverse vegetariano estricto, enséñele a planificar comidas para que pueda obtener todos los nutrientes adecuados a diario. Los adolescentes necesitan calcio y vitamina D. Y el hierro es especialmente importante para las muchachas adolescentes que están menstruando. Hable con su médico acerca de la cantidad de estas vitaminas y minerales que su hijo necesita. Pregúntele si su hijo o hija adolescente necesita tomar un suplemento diario.</p>
            <p>Es posible que desee que su hijo hable con un dietista registrado para aprender a planificar una dieta vegana saludable.</p>
            <p>Es importante averiguar por qué su hijo quiere seguir una dieta vegana. Algunos adolescentes adoptan una dieta vegetariana estricta como una manera de adelgazar y "ser vegano" puede ocultar un trastorno de alimentación como la anorexia.</p>
        `
    },
    4: {
        title: "Cómo involucrar a los más pequeños en su alimentación",
        image: "static/images/blog_articulo3.jpg",
        content: `
            <p>Los más pequeños deben estar informados acerca de su alimentación. Deben comer de todo, y ser conscientes de qué es lo que están comiendo.</p>
            <p>Para empezar, explícales lo que es una buena rutina de alimentación y prepara la suya con ellos. Es bueno que aprendan a clasificar la comida, sepan qué les aporta cada alimento y sean conscientes de la variedad que necesitan para crecer sanos y felices. No olvides la fruta, los vegetales, las semillas o las verduras en su menú semanal.</p>
            <p>Come lo mismo que ellos. Es decir, no tiendas a prepararle platos distintos a los tuyos, o por lo menos usa los mismos ingredientes base aunque la presentación sea diferente. Es bueno que se acostumbren a comer de todo, sea lo que sea, siempre que sea saludable. Si siempre le pones lo mismo o preparas platos especiales “porque son niños”, no les estarás ayudando, más bien lo contrario, les perjudicará porque no estarán aprendiendo a comer de todo.</p>
            <p>Lo más aconsejable es permitir que el niño/a coma siguiendo su sensación de hambre y saciedad. Pero no es bueno que se dejen la comida, ni tampoco recomendable que siempre repitan. Fíjate en cuánto come tu hijo/a o pregúntale directamente si crees que ya puede saberlo por sí mismo, y prepárale una proporción adecuada de comida.</p>
            <p>Es importante que te ayuden a preparar la comida. Que vean cómo cocinas. Asígnales tareas que les ayuden a aprender, poco a poco, a cocinar. Les harás sentir importantes, aprenderán a colaborar en casa, y harás que le surja interés por la cocina y la comida.</p>
            <p>Por último, háblales de la comida. Cuéntales lo importante que es llevar una alimentación equilibrada y saludable. Explícales la importancia de la comida sana: crecerán bien, estarán relajados, vivirán de mejor humor, etc.</p>
            <p>Inculcar unos valores de alimentación saludable es una gran responsabilidad para cualquier padre. En este artículo repasamos algunas maneras de fomentar estos hábitos entre los más pequeños de la casa.</p>
            <h2>Convertir las comidas en momentos de diversión</h2>
            <p>Hay determinadas comidas, como es el desayuno, que se hacen más difíciles para los niños. Ya sea por las prisas o los horarios, a menudo es un momento de prisas y estrés. Por eso, hay que tratar de transformar cada comida en un momento de diversión. Es bueno que los niños se disfruten comiendo, y qué mejor que hacerlo con sus padres pasando un momento agradable, con detalles tan simples como felicitarles por haberse acabado toda la ración.</p>
            <h2>Presentar la fruta de forma apetecible</h2>
            <p>Cada vez es más difícil que los hijos consuman alguna pieza de fruta al día. Según la OMS y la FAO, la ración recomendable de frutas es 3 o más piezas al día y 2 porciones o más de verduras. Para convertir esta recomendación en un hábito para los niños, podemos animarles ofreciéndosela limpia, cortada y presentada en formatos diferentes para que les sea más fácil consumirla. También es importante que sigan nuestro ejemplo. Por tanto, los primeros que debemos cumplir con la ingesta recomendada somos nosotros.</p>
            <h2>Hacerles ver la importancia de las verduras</h2>
            <p>Los niños aceptarán mucho mejor los alimentos que acompañen a sus platos preferidos. Ya sea carne o pescado, la verdura no debe faltar como guarnición. Y si solo les apetece lo que les gusta, debemos explicarles la importancia que tienen las verduras para que crezcan fuertes y sanos.</p>
            <h2>Fijar unos horarios para las comidas</h2>
            <p>Es muy recomendable que los más pequeños adopten unas rutinas alimenticias desde bien temprano. Si fijamos unas horas concretas para el desayuno, la comida y la cena, evitaremos que coman fuera del horario establecido. Además, conseguiremos que se vayan acostumbrando y que solo tengan hambre cuando sea la hora de comer.</p>
            <h2>Apagar la televisión mientras coméis</h2>
            <p>Aunque pueda parecer algo de lo más normal, no es bueno acostumbrarse a comer o cenar viendo la televisión. Con este mal hábito, los niños prestan más atención a la televisión que a lo que están comiendo. Por eso, es mejor entablar una conversación con ellos para que se expresen y nos cuenten, por ejemplo, cómo les ha ido el día en el colegio.</p>
            <h2>Comer acompañados</h2>
            <p>Hay que evitar que los niños coman solos. Si esto sucede, no les podremos inculcar unos buenos hábitos alimenticios ni hacer un seguimiento de lo que comen. Por tanto, los niños deberían almorzar, siempre que se pueda, acompañados de un adulto.</p>
            <h2>La comida no debe ser ni un premio ni un castigo</h2>
            <p>Es fácil que los niños relacionen determinados alimentos con premios o castigos. Para evitar que esto suceda, no se debería usar la comida para incentivarles, ni para bien ni para mal. Ni la verdura es un castigo ni los alimentos más calóricos y poco saludables equivalen a un premio.</p>
        `
    },
    5: {
        title: "¿Cómo motivarse para hacer ejercicio y mantener la constancia?",
        image: "static/images/blog_articulo4.jpg",
        content: `
            <p>Hacer ejercicio es una de las mejores formas de cuidar nuestra salud física y mental, ya que nos ayuda a prevenir enfermedades, mejorar nuestro estado de ánimo, liberar estrés, aumentar nuestra autoestima, etc. Sin embargo, muchas veces nos cuesta encontrar la motivación y la disciplina para hacer ejercicio de forma regular y constante. ¿Te suena familiar? Si es así, no te preocupes, hoy te hablaremos de algunos consejos para motivarte para hacer ejercicio y mantener la constancia.</p>
            <h2>Define tus objetivos</h2>
            <p>El primer paso para motivarte para hacer ejercicio es definir tus objetivos, es decir, qué quieres conseguir con el ejercicio, cómo quieres verte y sentirte, qué beneficios esperas obtener, etc. Tus objetivos deben ser claros, específicos, medibles, alcanzables, realistas y temporales. Por ejemplo, no es lo mismo decir “quiero perder peso” que decir “quiero perder 5 kilos en 3 meses”. Al tener objetivos bien definidos, podrás planificar mejor tu rutina de ejercicio, medir tu progreso y celebrar tus logros.</p>
            <h2>Elige una actividad que te guste</h2>
            <p>El segundo paso para motivarte para hacer ejercicio es elegir una actividad que te guste, que se adapte a tus preferencias, a tu nivel, a tu horario, a tu presupuesto, etc. No tiene sentido que te apuntes a un gimnasio si odias las máquinas, o que te compres una bicicleta si no te gusta salir al aire libre. Lo importante es que disfrutes del ejercicio, que lo veas como una forma de divertirte, de relajarte, de socializar, etc. Hay muchas opciones de ejercicio, desde el running, el yoga, el pilates, el baile, el boxeo, el tenis, etc. Lo ideal es que pruebes diferentes actividades hasta que encuentres la que más te guste y te motive.</p>
            <h2>Busca un compañero o un grupo</h2>
            <p>El tercer paso para motivarte para hacer ejercicio es buscar un compañero o un grupo con el que compartir tu actividad. Hacer ejercicio con alguien más tiene muchas ventajas, como que te ayuda a comprometerte, a apoyarte, a animarte, a retarte, a divertirte, etc. Además, te permite conocer gente nueva, hacer amigos, ampliar tu red social, etc. Puedes buscar un compañero o un grupo entre tus familiares, tus amigos, tus vecinos, tus compañeros de trabajo, etc. O también puedes unirte a alguna comunidad online, a algún club deportivo, a algún evento deportivo, etc.</p>
            <h2>Crea un hábito</h2>
            <p>El cuarto paso para motivarte para hacer ejercicio es crear un hábito, es decir, incorporar el ejercicio a tu rutina diaria, como si fuera una parte más de tu vida. Para crear un hábito, es importante que seas constante, que fijes un horario, un lugar, una duración, una frecuencia, etc. para tu ejercicio. Por ejemplo, puedes decidir hacer ejercicio todos los días a las 8 de la mañana, en el parque de al lado de tu casa, durante 30 minutos, 5 veces a la semana. Al crear un hábito, el ejercicio se vuelve más fácil, más natural, más automático, y menos dependiente de tu estado de ánimo o de tu voluntad.</p>
            <h2>Recompensate</h2>
            <p>El quinto y último paso para motivarte para hacer ejercicio es recompensarte, es decir, premiarte por tu esfuerzo, por tu dedicación, por tu perseverancia, etc. Las recompensas pueden ser de diferentes tipos, desde materiales, como comprarte algo que te guste, hasta emocionales, como felicitarte, reconocerte, valorarte, etc. Lo importante es que las recompensas sean proporcionales a tus objetivos, que no sean contraproducentes para tu salud, y que te ayuden a mantener tu motivación y tu autoestima.</p>
            <p>Como ves, motivarte para hacer ejercicio y mantener la constancia es posible si sigues estos consejos. Recuerda que el ejercicio es una inversión en tu salud, en tu felicidad, en tu bienestar. No lo veas como una obligación, sino como una oportunidad. Si quieres saber más sobre cómo hacer ejercicio de forma segura, eficaz y divertida, en la web de Sportlast encontrarás los mejores calcetines y ropa técnica deportiva para que tu actividad deportiva sea completa, ya que con las prendas de compresión, ayudas a tu cuerpo a resistir mejor, rendir más y a recuperarte antes. ¡No te arrepentirás!</p>
        `
    }
};

function initializeSearchForm() {
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const query = document.getElementById('search-input').value.toLowerCase();
        const articleItems = document.querySelectorAll('.article-item');

        articleItems.forEach(article => {
            const title = article.querySelector('.card-title').textContent.toLowerCase();
            if (title.includes(query)) {
                article.style.display = 'block';
            } else {
                article.style.display = 'none';
            }
        });
    });
}

document.querySelectorAll('.read-more').forEach(button => {
    button.addEventListener('click', function(event) {
        event.preventDefault();
        const articleId = this.getAttribute('data-id');
        const article = articles[articleId];
        
        if (article) {
            document.getElementById('article-title').textContent = article.title;
            document.getElementById('article-content').innerHTML = article.content;
            document.getElementById('article-image').src = article.image;
            document.getElementById('articles').style.display = 'none';
            document.getElementById('article-detail').style.display = 'block';
        }
    });
});

document.getElementById('back-button').addEventListener('click', function() {
    document.getElementById('article-detail').style.display = 'none';
    document.getElementById('articles').style.display = 'flex';
    initializeSearchForm();
});

initializeSearchForm();
</script>
<style>
    .fixed-img-size {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
    .full-img-size {
        width: 100%;
        height: auto;
    }
    
    #article-detail {
        margin-top: 20px;
    }
    
    .back-button-custom {
        background-color: #6c757d;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .back-button-custom:hover {
        background-color: #5a6268;
        color: #fff;
    }
    
    /* Nueva regla CSS para aumentar la separación entre artículos */
    .article-item {
        margin-bottom: 30px; /* Ajusta este valor según tus necesidades */
    }
</style>
    
{% endblock %}
