<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	
	<title>VeganMania</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/salad_bowl_food_vegetables_vegan_healthy_food_icon_207981.ico') }}">

	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magister.css') }}">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active">Inicio</a></li>
				<li><a href="#about">Sobre mi</a></li>
				<!-- <li><a href="#themes">Nutricion</a></li>  -->
				<li><a href="#contact">Ponte en contacto</a></li>
			</ul>
		</div>
	</div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<h1>Monitoriza tus calorías</h1>
                {% if nombre %}
                    <p>Hola {{ nombre }}, has consumido {{ calorias_consumidas }} de las {{ calorias_objetivo }} que tienes como objetivo</p>

                {% else %}
                    <p>Usuario no identificado</p>
                {% endif %}

                <div id="calorias">
                    <form action="{{ url_for('añadirCalorias') }}" method="post">
                        <label for="calorias">Calorías</label>
                        <input type="number" name="calorias" id="calorias">
                        <input type="submit" value="Añadir">
                    </form>
                </div>

                <p><a href="{{ url_for('logout') }}" class="btn btn-default btn-lg">Cerrar Sesión</a></p>

				<div>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<ul>
								{% for message in messages %}
									<li>{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% endwith %}
				</div>

			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container">
	
		<h2 class="text-center title">Sobre mí</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>Quienes somos?<br></strong></h5>
				<p>Soy David, alumno de 4º de Ingeniería Informática en la Universidad del País Vasco. Soy un apasionado de la tecnología y esta API web esta pensada para ayudar a la gente a poder seguir una dieta estricatmente vegetariana.</p>    
			</div>
			<div class="col-sm-4">
				<h5><strong>Motivación<br></strong></h5>    
				<p>Hoy en día la gente no es del todo consciente de que es lo que se mete al cuerpo. En todos los supermercados existe una multitud de productos preprocesados, que no son ricos nutricionalmente. Se busca de alguna manera dar un punto de vista o una ayuda para ver como cuidar la dieta vegetariana, aunque también sirve para las generales. Además del enfoque pedagógico, se busca también buscar funcionalidad en la web para poder seguir alcanzar los valores nutricionales necesarios en tu día a día</p>    
				<h5><strong>Links<br></strong></h5>    
				<p><a href="https://github.com/davyyelor">Github</a> / <a href="https://www.instagram.com/davy__02/?igshid=OGQ5ZDc2ODk2ZA%3D%3D">Instagram</a> / <a href="https://www.linkedin.com/in/david-elorza-gabilondo-b5556b29b/">LinkedIn</a> </p>
			</div>
		</div>
	</div>
</section>

<!-- Third (Works) section -->
<section class="section" id="themes">
	<div class="container">
	
		<h2 class="text-center title">More Themes</h2>
		<p class="lead text-center">
			Huge thank you to all people who publish<br>
			their photos at <a href="http://unsplash.com">Unsplash</a>, thank you guys!
		</p>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='screenshots/fotovegana.jpg') }}" alt="">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='screenshots/fotovegana.jpg') }}" alt="">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='screenshots/fotovegana.jpg') }}" alt="">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='screenshots/fotovegana.jpg') }}" alt="">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
	<div class="container">
	
		<h2 class="text-center title">Ponte en contacto</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p class="lead">Tienes alguna duda sobre la web o quieres aportar tu granito de arena y sugerir alguna mejora?</p>
				<p>Escribeme por mail o incluso haz pull request para que siga mejorando</p>
				<p><b>davidelorzag@gmail.com</b><br><br></p>
				<ul class="list-inline list-social">
					<li><a href="https://github.com/davyyelor" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
					<li><a href="https://www.linkedin.com/in/david-elorza-gabilondo-b5556b29b/" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
				</ul>
			</div>
		</div>

	</div>
</section>


<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/modernizar.custom72241.js') }}"></script>
<!-- Custom template scripts -->
<script src="{{ url_for('static', filename='js/magister.js') }}"></script>
</body>
</html>

