<!DOCTYPE html>
<html>
<head>
    <title>VeganMania</title>


	<link rel="shortcut icon" href="{{ url_for('static', filename='images/salad_bowl_food_vegetables_vegan_healthy_food_icon_207981.ico') }}">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-brand">
                <a href="inicioUsu.html">VeganMania</a>
            </div>
            <div class="nav-content">
                <ul>
                    <li><a href="inicioUsu.html">Inicio</a></li>
                    <li><a href="recetas.html">Recetas</a></li>
                    <li><a href="restaurantes.html">Restaurantes</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="login.html">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="main-content">
                <section>
                    <h1>Noticias</h1>

                    <article>
                        <h2>Moise Kean, el 'otro Balotelli' que rapea y no marca goles... vuelve a estrellarse</h2>
                        <p>
                            Hay una cuenta en Twitter que contabiliza los días que Moise Kean (Vercelli, Italia, 2000) suma sin marcar un gol. Ya son más de 300. Su último tanto fue ante el Hellas Verona el pasado 1 de abril de 2023. Desde entonces, un par de asistencias con la 'Azzurra' ante Malta y un gol anulado por milímetros este curso. Y un sencillo que ha supuesto su debut en el mundo de la música. 'OUTFIT', se titula. Publicado bajo el seudónimo 'KMB' como parte del grupo de rap 19F. Además, un fichaje frustrado: su llegada al Atlético de Madrid se cayó a última hora tras sus problemas físicos.
                        </p>
                        <p>
                            Kean rapea en italiano pero introduce palabras en ingles en sus rimas. Como su gran amigo Rafael Leao (estrella del Milan con el seudónimo 'WAY45'), compagina el 'Calcio' con sus otras dos grandes pasiones: la música y la moda. Es una forma de salir (un poco) de la burbuja que es el fútbol profesional. Una esfera, esta del balón, que le ha dado grandes noches y una vida de privilegios, pero que lo puso en el foco mediático desde antes de cumplir la mayoría de edad
                        </p>

                        <a href="https://www.marca.com/futbol/atletico/2024/01/30/65b78221ca4741b5458b4579.html">Seguir leyendo...</a>

                        <dl>
                            <dt> Azzurra:</dt>
                            <dd> La denominación la Azzurra es la adecuada para referirse a la selección italiana, mientras que los azzurri es el apelativo empleado para referirse a sus jugadores.</dd>
                            
                            <dt>Outfit:</dt>
                            <dd>Outfit es una palabra del inglés que significa vestimenta, ropa o conjunto. El término se ha vuelto popular gracias a las redes sociales, en donde se utiliza para comentar la manera de vestir de alguien, especialmente de celebridades e influenciadores.</dd>
                    
                        </dl>
                        
                    </article>
                        
                    <article>
                        <h2>El Madrid cuadra el plan</h2>
                        <p>
                            El mes de enero acaba para el Real Madrid con una media sonrisa. Se ganó un título (la Supercopa de España, un 'esfuerzo' de sólo dos partidos) y se perdió otro, y de forma dolorosa además ante el viejo rival. Pero los blancos han conseguido hacer de la necesidad virtud para asentar sus opciones en la Liga, con dos victorias -muy sufridas ambas- que le permiten mantener el codo a codo con el Girona, al que pueden superar el jueves en el partido aplazado contra el Getafe.
                        </p>
                        <p>
                            El plan del Madrid para enero no alcanza el sobresaliente, pero sí un notable alto, porque el equipo se mantiene con todas las opciones en uno de los dos grandes objetivos de la temporada, el título de Liga, del que dimitió de forma escandalosa en el curso anterior. El Madrid lo fió todo a la Champions, que era -y es- siempre el gran objetivo del club, pero la forma de gestionar esfuerzos en el torneo doméstico abrió alguna herida en el club. El Madrid se exige competir siempre y lo cierto es que la última Liga fue un paseo para el Barcelona, cuya debilidad en el presente curso mantiene abierto el debate sobre el rendimiento del Madrid en la 22-23.
                        </p>

                        <a href="https://www.marca.com/futbol/real-madrid/2024/01/30/65b55f5246163f5ba28b458e.html">Seguir leyendo...</a>
                    </article>

                    <article>
                        <h2>Alphonso Davies rompe su silencio: "Me siento muy cómodo aquí..."</h2>
                        <p>
                            Aphonso Davies es uno de los grandes objetivos del Real Madrid para este próximo verano. El lateral canadiense del Bayern Munich acaba contrato en 2025 y sigue sin renovar, a pesar de la gran oferta que le han presentado a su agente desde el equipo bávaro. El futbolista quiere situarse en el nivel más alto de la escala salarial de la plantilla... y su 'coqueteo' con el Real Madrid le trajo incluso un tirón de orejas de Tuchel.       
                        </p>
                        <p>
                            "Me siento muy cómodo aquí, juego en un equipo increíble, en uno de los mejores de Europa. Me mantengo concentrado y lo doy todo por el equipo y por nuestros aficionados", aseguró el lateral, que ha roto su silencio pero que no ha querido desvelar qué planes pasan por su cabeza de cara a su futuro.
                        </p>

                        <a href="https://www.marca.com/futbol/real-madrid/2024/01/30/65b912ef268e3edf1f8b4583.html">Seguir leyendo...</a>
                    </article>
                    
                    <article>
                        <h2>Los retos de Xavi</h2>
                        <p>
                            l Barcelona afronta unos meses complicados. La continuidad de Xavi tiene fecha de caducidad pero el equipo debe seguir compitiendo en los dos torneos que disputa: LaLiga y la Champions League. El preparador de Terrassa, Joan Laporta y los futbolistas ambicionan quedar lo más alto posible en el torneo regular, asumen que ganarlo es una utopía, y llegar lejos en el continental y por qué no conquistarlo. El técnico quiere dejar la entidad de la mejor manera posible y trabaja para corregir y anular los errores que están condenando este curso al equipo y que ya han frustrado dos títulos: la Supercopa y la Copa
                        </p>
                        <p>
                            El técnico debe lograr que los jugadores no tengan en cuenta su anuncio de que se irá en junio. Por dos razones: porque su cuenta atrás en el banquillo puede provocar una falta de compromiso o deberes con él (desmotivación) o porque implique un estado emocional bajo por la sensación de que la planificación se desmorona y que la figura que debía liderarles se va, voluntariamente. En ambas situaciones, el preparador debe trabajar el aspecto emocional del vestuario e involucrar a sus futbolistas en el proyecto y animarles y tensionarles.
                        </p>

                        <a href="https://www.marca.com/futbol/barcelona/2024/01/30/65b78daa22601d4d028b457a.html">Seguir leyendo...</a>
                    </article>

                    
                </section>
            </div>
        </div>
    </main>

    <footer>
        <div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<ul class="list-inline list-social">
					<li><a href="https://github.com/davyyelor" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
					<li><a href="http://linkedin/in/pozhilov" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
				</ul>
                &copy; 2024 VeganMania. CC BY-NC-SA 4.0 DEED Atribución-NoComercial-CompartirIgual 4.0 Internacional.
			</div>
            
		</div>
    </footer>

    
</body>
</html>
