{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="main-content">
        <section>
            <h1 class="tuSeguimiento">Tu Seguimiento</h1>

            <!-- Botones adicionales -->
            <div class="botones-adicionales">
                <div class="dropdown">
                    <button class="btn-anadir-comidas">Añadir...</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('añadirComida') }}">Comida</a>
                        <a href="{{ url_for('añadirAlimento') }}">Alimentos</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn-dropdown">Frecuencia</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('inicioUsu', frecuencia='diario') }}">Diario</a>
                        <a href="{{ url_for('inicioUsu', frecuencia='semanal') }}">Semanal</a>
                        <a href="{{ url_for('inicioUsu', frecuencia='mensual') }}">Mensual</a>
                    </div>
                </div>
                <div>
                    <a href="{{ url_for('misComidas') }}" class="btn-anadir-comidas btn-ver-comidas">Ver Comidas</a>
                </div>
                
                <div class="dropdown">
                    <button class="btn-dropdown">Ordenar por porcentaje</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('inicioUsu', frecuencia=frecuencia, orden='mayor-menor') }}">Mayor a menor</a>
                        <a href="{{ url_for('inicioUsu', frecuencia=frecuencia, orden='menor-mayor') }}">Menor a mayor</a>
                        <a href="{{ url_for('inicioUsu', frecuencia=frecuencia, orden='normal') }}">Normal</a>
                    </div>
                </div>
                <div>
                    <a href="{{ url_for('consultarObjetivos') }}" class="btn-anadir-comidas btn-ver-objetivos">Ver Objetivos</a>
                </div>
            </div>

            {% if nutrientes_agrupados %}
                {% for tipo, nutrientes in nutrientes_agrupados.items() %}
                    <h2>{{ tipo }}</h2>
                    {% for nutriente in nutrientes %}
                    <!-- Sección de nutrientes -->
                    <article>
                        <h3>{{ nutriente.nombre }}</h3>
                        <div class="contenido">
                            <ul>{{ nutriente.nombre }}: {{ nutriente.cantidad_consumida }} {{ nutriente.unidad }}</ul>
                        </div>
                        <div class="porcentajes">
                            {% set porcentaje = (nutriente.cantidad_consumida / nutriente.cantidad_necesaria) * 100 if nutriente.cantidad_necesaria > 0 else 0 %}
                            {% set color = "green" if porcentaje >= 75 else "orange" if porcentaje >= 50 else "red" %}
                            <div class='porcentajes' style="--porcentaje: {{ porcentaje }}; --color: {{ color }}">
                                <span class="spanP">{{ porcentaje | round(0) }}%</span>
                                <svg width="150" height="150">
                                    <circle r="65" cx="50%" cy="50%" pathlength="100"></circle>
                                    <circle r="65" cx="50%" cy="50%" pathlength="100" style="stroke-dasharray: {{ porcentaje }}, 100;"></circle>
                                </svg>
                                <span class="spanN">{{ nutriente.cantidad_consumida }}/{{ nutriente.cantidad_necesaria }} {{ nutriente.unidad }}</span>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <p>Todavía no has introducido datos para este día/mes/semana.</p>
            {% endif %}
        </section>
    </div>
</div>

{% endblock %}
