<!DOCTYPE html>
<html lang="es">
<head>
    <title>VeganMania</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/salad_bowl_food_vegetables_vegan_healthy_food_icon_207981.ico') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>    
    <div class="limiter">
        <div class="container-login100">
            <!-- Botón de retroceso -->
            <a href="{{ url_for('index') }}" style="position: absolute; top: 10px; left: 10px;">
                <img src="{{ url_for('static', filename='images/icons/botonAtras.png') }}" alt="Botón Atrás" style="width: 50px; height: 50px;">
            </a>

            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" action="/login" method="post" novalidate onsubmit="return validateForm()">
                    <span class="login100-form-title">
                        Iniciar Sesión
                    </span>
                    {% if error_message %}
                    <div id="error-message" style="color: red; margin-bottom: 16px;">{{ error_message }}</div>
                    {% endif %}
                    <div id="validation-message" style="color: red; margin-bottom: 16px;"></div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your email">
                        <input class="input100" type="email" name="email" id="email" placeholder="Tu email" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your password">
                        <input class="input100" type="password" name="contrasena" id="contrasena" placeholder="Tu contraseña" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="text-right p-t-13 p-b-23">
                        <span class="txt1">
                            Se te ha olvidado
                        </span>

                        <a href="{{ url_for('recuperarContraseña')}}" class="txt2">
                            Email / Contraseña?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Iniciar Sesión
                        </button>
                    </div>

                    <div class="flex-col-c p-t-130 p-b-40">
                        <span class="txt1 p-b-9">
                            No te has unido a nosotros aún?
                        </span>
                        <a href="{{ url_for('registro')}}" class="txt3">
                            Crear cuenta
                        </a>
                    </div>
                </form>
            </div>

            <div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="verificationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="verificationModalLabel">Verificación de Cuenta</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Por favor, verifica tu correo electrónico antes de iniciar sesión.
                            <br>¿No lo ves? Revisa tu carpeta de spam por si acaso.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            var verificacion = "{{ verificacion }}";
            if (verificacion === "pendiente") {
                $('#verificationModal').modal('show');
            }
        });

        function validateForm() {
            var email = document.getElementById("email").value;
            var contrasena = document.getElementById("contrasena").value;
            var validationMessage = document.getElementById("validation-message");

            if (!email) {
                validationMessage.textContent = "El campo de email está vacío.";
                return false;
            }

            if (!contrasena) {
                validationMessage.textContent = "El campo de contraseña está vacío.";
                return false;
            }

            return true;
        }
    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
