{% extends 'base.html' %}

{% block content %}
<style>
    .back-button {
        position: fixed;
        top: 120px;
        left: 20px;
        display: inline-block;
        padding: 10px 15px;
        font-size: 16px;
        color: #fff;
        background-color: #57b846;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s;
        z-index: 1000; /* Ajusta este valor si es necesario */
    }
    .back-button:hover {
        background-color: #4b9e3e;
    }
</style>

<a href="{{ url_for('inicioUsu') }}" class="back-button">Volver</a>

<div class="container">
    <div class="main-content">
        <section>
            <h1 class="tuSeguimiento">Tus Comidas</h1>

            <div class="comidas-list">
                {% if comidas_hoy or comidas_ultima_semana or comidas_anteriores %}
                    {% if comidas_hoy %}
                        <h2>Hoy</h2>
                        {% for comida in comidas_hoy %}
                        <article class="comida">
                            <h3>{{ comida[2] }}</h3>
                            <p><strong>Tipo:</strong> {{ comida[3] }}</p>
                            <p><strong>Descripción:</strong> {{ comida[4] }}</p>
                            <p><strong>Fecha:</strong> {{ comida[5] }}</p>
                            <div class="botones-comida">
                                <form action="{{ url_for('borrarComida', id_comida=comida[0]) }}" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Borrar Comida</button>
                                </form>
                                <a href="{{ url_for('verComida', id_comida=comida[0]) }}" class="btn btn-info">Ver Comida</a>
                            </div>
                        </article>
                        {% endfor %}
                    {% endif %}

                    {% if comidas_ultima_semana %}
                        <h2>Últimos 7 Días</h2>
                        {% for comida in comidas_ultima_semana %}
                        <article class="comida">
                            <h3>{{ comida[2] }}</h3>
                            <p><strong>Tipo:</strong> {{ comida[3] }}</p>
                            <p><strong>Descripción:</strong> {{ comida[4] }}</p>
                            <p><strong>Fecha:</strong> {{ comida[5] }}</p>
                            <div class="botones-comida">
                                <form action="{{ url_for('borrarComida', id_comida=comida[0]) }}" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Borrar Comida</button>
                                </form>
                                <a href="{{ url_for('verComida', id_comida=comida[0]) }}" class="btn btn-info">Ver Comida</a>
                            </div>
                        </article>
                        {% endfor %}
                    {% endif %}

                    {% if comidas_anteriores %}
                        <h2>Anteriores</h2>
                        {% for comida in comidas_anteriores %}
                        <article class="comida">
                            <h3>{{ comida[2] }}</h3>
                            <p><strong>Tipo:</strong> {{ comida[3] }}</p>
                            <p><strong>Descripción:</strong> {{ comida[4] }}</p>
                            <p><strong>Fecha:</strong> {{ comida[5] }}</p>
                            <div class="botones-comida">
                                <form action="{{ url_for('borrarComida', id_comida=comida[0]) }}" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Borrar Comida</button>
                                </form>
                                <a href="{{ url_for('verComida', id_comida=comida[0]) }}" class="btn btn-info">Ver Comida</a>
                            </div>
                        </article>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="comida">
                        <p>Todavía no has añadido ninguna comida. ¡Añade tu primera comida ahora!</p>
                        <a href="{{ url_for('añadirComida') }}" class="btn btn-primary">Añadir Comida</a>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock %}
