{% extends 'base.html' %}

{% block content %}
<main style="margin-top: 100px;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" id="modificarForm" action="/modificarUsuario" method="post" novalidate>
                    <span class="login100-form-title">
                        Modificar Datos
                    </span>
                    <p> Modifica los campos que quieres cambiar, no hace falta que pongas todos unicamente los que veas necesarios</p>
                    
                    <span>Tu nombre actual es: {{ nombre_actual }}</span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your username">
                        <input class="input100" type="text" name="nombre" id="nombre" placeholder="Tu nombre">
                        <span class="focus-input100"></span>
                    </div>

                    <span>Tu fecha de nacimiento actual es: {{ fechaNacimiento_actual }}</span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your date of birth">
                        <input class="input100" type="date" name="fechaNacimiento" id="fechaNacimiento" placeholder="Fecha de nacimiento">
                        <span class="focus-input100"></span>
                    </div>                    

                    <span>Tu peso actual es: {{ peso_actual }}</span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your weight">
                        <input class="input100" type="number" name="peso" id="peso" placeholder="Tu peso">
                        <span class="focus-input100"></span>
                    </div>

                    <span>Tu altura actual es: {{ altura_actual }}</span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your height">
                        <input class="input100" type="number" name="altura" id="altura" placeholder="Tu altura">
                        <span class="focus-input100"></span>
                    </div>

                    <span>Tu género actual es: {{ genero_actual }}</span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please select your gender">
                        <select class="input100" name="genero" id="genero">
                            <option value="" disabled selected>Selecciona Género</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                        </select>
                        <span class="focus-input100"></span>
                    </div>

                    <span>Tu nivel de actividad actual es: {{ actividad_actual }}</span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Selecciona tu nivel de actividad">
                        <select class="input100" name="actividad" id="actividad">
                            <option value="" disabled selected>Selecciona tu nivel de actividad</option>
                            <option value="sedentaria"> Sedentaria </option>
                            <option value="normal">Normal</option>
                            <option value="activa">Activa</option>
                            <option value="muyActiva">Muy activa</option>
                        </select>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Modificar Datos
                        </button>
                    </div>
                    <div>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </form>

                <div class="container-login100-form-btn text-center"></div>
                    <p>No se puede modificar el email con el que te registraste, si quieres puedes borrar la cuenta y crearte una nueva</p>
                </div>

                <div class="container-login100-form-btn text-center"></div>
                    <form action="/eliminarCuenta" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar tu cuenta? Esta acción no se puede deshacer.');">
                        <button type="submit" class="btn btn-danger">Eliminar Cuenta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script>
    document.getElementById('modificarForm').addEventListener('submit', function(event) {
        let peso = document.getElementById('peso');
        let altura = document.getElementById('altura');
        let fechaNacimiento = document.getElementById('fechaNacimiento');
        let errorMessage = "";

        peso.classList.remove('error-border');
        altura.classList.remove('error-border');
        fechaNacimiento.classList.remove('error-border');

        if (peso.value && (peso.value <= 0 || peso.value > 200)) {
            errorMessage += "El peso debe estar entre 1 y 200 kg.\n";
            peso.classList.add('error-border');
        }
        if (altura.value && (altura.value <= 0 || altura.value > 200)) {
            errorMessage += "La altura debe estar entre 1 y 200 cm.\n";
            altura.classList.add('error-border');
        }
        if (fechaNacimiento.value && new Date(fechaNacimiento.value) > new Date()) {
            errorMessage += "La fecha de nacimiento no puede ser superior a la fecha actual.\n";
            fechaNacimiento.classList.add('error-border');
        }

        if (errorMessage) {
            event.preventDefault();
            alert(errorMessage);
        }
    });
</script>

{% endblock %}
