{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 100px;">
    <h1>Artículos de Temporada</h1>
    <section>
        <h2>En Temporada</h2>
        <div class="products">
            {% for product in in_season %}
                <div class="product">
                    <h3>{{ product[1] }}</h3>
                    <img src="../static/images/products/{{ product[6] }}" alt="{{ product[1] }}" />
                    <p>{{ product[5] }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <h2>Al Comienzo de Temporada</h2>
        <div class="products">
            {% for product in start_of_season %}
                <div class="product">
                    <h3>{{ product[1] }}</h3>
                    <img src="../static/images/products/{{ product[6] }}" alt="{{ product[1] }}" />
                    <p>{{ product[5] }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <h2>Fuera de Temporada</h2>
        <div class="products">
            {% for product in out_of_season %}
                <div class="product">
                    <h3>{{ product[1] }}</h3>
                    <img src="../static/images/products/{{ product[6] }}" alt="{{ product[1] }}" />
                    <p>{{ product[5] }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
