{% extends 'base.html' %}

{% block content %}
<div class="recetas">
    <main>
        <h1 class="title">Buscar Recetas</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form class="buscar-wrapper" action="{{ url_for('recetas') }}" method="post">
            <input type="text" name="query" placeholder="Buscar recetas">
            <button type="submit">Buscar</button>
        </form>
        
        {% if recipes_list %}
        <h2 style="text-align: center;">Recetas encontradas:</h2>
        <div class="recipe-container" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            {% for recipe in recipes_list %}
            <div class="recipe" style="width: calc(33.33% - 20px); margin-bottom: 40px; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
                <h2 style="font-weight: bold; font-family: Ubuntu-Bold, sans-serif; font-size: 20px; color: #57b846; margin-bottom: 10px;">{{ recipe['name'] }}</h2>
                <img src="{{ recipe['image'] }}" alt="Imagen de la receta" style="max-width: 100%; height: auto;" class="zoom" onclick="showRecipeDetails(this)">
                <div class="recipe-details" style="display: none; padding: 10px;">
                    <p><strong>Diet Labels:</strong> {{ recipe['diet_labels'] }}</p>
                    <p><strong>Health Labels:</strong> {{ recipe['health_labels'] }}</p>
                    <p><strong>Ingredients:</strong></p>
                    <ul style="padding-left: 20px;">
                        {% for ingredient in recipe['ingredients'].split("', '") %}
                            <li>{{ ingredient|replace("'", "") }}</li>
                        {% endfor %}
                    </ul>
                    <p><a href="{{ recipe['recipe_link'] }}" target="_blank">Link a la receta</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button id="volverBtn" style="display: none;" onclick="showAllRecipes()">Volver y ver todas las recetas</button>
        {% endif %}
        
    </main>
</div>

<script>
    function showRecipeDetails(image) {
        const recipeContainer = image.closest('.recipe-container');
        const recipes = recipeContainer.querySelectorAll('.recipe');
        const clickedRecipe = image.closest('.recipe');
        
        // Oculta las recetas no seleccionadas
        recipes.forEach(recipe => {
            if (recipe !== clickedRecipe) {
                recipe.style.display = 'none';
            }
        });
        
        // Muestra los detalles de la receta seleccionada y ajusta su ancho
        const recipeDetails = clickedRecipe.querySelector('.recipe-details');
        recipeDetails.style.display = 'block';
        clickedRecipe.style.width = '100%';

        // Muestra el botón de volver
        document.getElementById('volverBtn').style.display = 'block';
    }

    function showAllRecipes() {
        const recipeContainers = document.querySelectorAll('.recipe-container');
        recipeContainers.forEach(container => {
            const recipes = container.querySelectorAll('.recipe');
            recipes.forEach(recipe => {
                recipe.style.display = 'block';
                recipe.style.width = 'calc(33.33% - 20px)';
                const recipeDetails = recipe.querySelector('.recipe-details');
                recipeDetails.style.display = 'none';
            });
        });

        document.getElementById('volverBtn').style.display = 'none';
    }
</script>

{% endblock %}
