{% extends 'base.html' %}

{% block content %}
<div class="recetas">
    <main>
        <h1 class="title">Buscar Recetas</h1>
        <form class="buscar-wrapper" action="{{ url_for('recetas') }}" method="post">
            <input type="text" name="ingredientes" placeholder="Buscar recetas por ingredientes">
            <button type="submit">Buscar</button>
        </form>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}

        <!-- Aquí debería ser un for loop sobre las recetas -->
        {% if recetas %}
        <h2 style="text-align: center;">Recetas encontradas:</h2>
        <div class="recipe-container" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            {% for receta in recetas %}
            <div class="recipe" style="width: calc(33.33% - 20px); margin-bottom: 40px; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
                <h2 style="font-weight: bold; font-family: Ubuntu-Bold, sans-serif; font-size: 20px; color: #57b846; margin-bottom: 10px;">{{ receta.nombre }}</h2>
                <img src="{{ receta.imagen }}" alt="Imagen de la receta" style="max-width: 100%; height: auto;" class="zoom" onclick="showRecipeDetails(this)">
                <div class="recipe-details" style="display: none; padding: 10px;">
                    <p><strong>Categoría:</strong> {{ receta.categoria }}</p>
                    <p><strong>Valoración:</strong> {{ receta.valoracion }}</p>
                    <p><strong>Dificultad:</strong> {{ receta.dificultad }}</p>
                    <p><strong>Número de comensales:</strong> {{ receta.num_comensales }}</p>
                    <p><strong>Tiempo:</strong> {{ receta.tiempo }}</p>
                    <p><strong>Tipo:</strong> {{ receta.tipo }}</p>
                    <p><strong>Ingredientes:</strong></p>
                    <ul>
                        {% for ingrediente in receta.ingredientes.split(',') %}
                        <li>{{ ingrediente }}</li>
                        {% endfor %}
                    </ul>
                    <p><a href="{{ receta.link_receta }}" target="_blank">Link a la receta</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button id="volverBtn" style="display: none;" onclick="showAllRecipes()">Volver y ver todas las recetas</button>
        <div style="text-align: center; margin-top: 20px;">
            {% if total_paginas > 1 %}
            <ul class="pagination">
                {% for num_pagina in range(1, total_paginas + 1) %}
                <li class="page-item {% if num_pagina == pagina_actual %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('recetas', pagina=num_pagina) }}">{{ num_pagina }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
    </main>
</div>

<script>
    function showRecipeDetails(image) {
        const recipeContainer = image.closest('.recipe-container');
        const recipes = recipeContainer.querySelectorAll('.recipe');
        const clickedRecipe = image.closest('.recipe');
        
        // Oculta las recetas no seleccionadas
        recipes.forEach(recipe => {
            if (recipe !== clickedRecipe) {
                recipe.style.display = 'none';
            }
        });
        
        // Muestra los detalles de la receta seleccionada y ajusta su ancho
        const recipeDetails = clickedRecipe.querySelector('.recipe-details');
        recipeDetails.style.display = 'block';
        clickedRecipe.style.width = '100%';

        // Muestra el botón de volver
        document.getElementById('volverBtn').style.display = 'block';
    }

    function showAllRecipes() {
        const recipeContainers = document.querySelectorAll('.recipe-container');
        recipeContainers.forEach(container => {
            const recipes = container.querySelectorAll('.recipe');
            recipes.forEach(recipe => {
                recipe.style.display = 'block';
                recipe.style.width = 'calc(33.33% - 20px)';
                const recipeDetails = recipe.querySelector('.recipe-details');
                recipeDetails.style.display = 'none';
            });
        });

        document.getElementById('volverBtn').style.display = 'none';
    }
</script>

{% endblock %}
