<!DOCTYPE html>
<html lang="es">
<head>
	<title>VeganMania</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/salad_bowl_food_vegetables_vegan_healthy_food_icon_207981.ico') }}">


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css') }}">
</head>
<body>	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" action="/registro" method="post" novalidate>
					<span class="login100-form-title">
						Crear Cuenta
					</span>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your username">
                        <input class="input100" type="text" name="nombre" id="nombre" placeholder="Tu nombre" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your username">
                        <input class="input100" type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your email">
                        <input class="input100" type="email" name="email" id="email" placeholder="Tu email" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your password">
                        <input class="input100" type="password" name="contrasena" id="contrasena" placeholder="Tu contraseña" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your date of birth">
                        <input class="input100" type="date" name="fechaNacimiento" id="fechaNacimiento" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your weight">
                        <input class="input100" type="number" name="peso" id="peso" placeholder="Tu peso" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your height">
                        <input class="input100" type="number" name="altura" id="altura" placeholder="Tu altura" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please select your gender">
                        <select class="input100" name="genero" id="genero" required>
                            <option value="" disabled selected>Selecciona Género</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                        </select>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Selecciona tu nivel de actividad">
                        <select class="input100" name="actividad" id="actividad" required>
                            <option value="" disabled selected>Selecciona tu nivel de actividad</option>
                            <option value="sedentaria"> Sedentaria </option>
                            <option value="sedentaria">Normal</option>
                            <option value="activa">Activa</option>
                            <option value="muyActiva">Muy activa</option>
                        </select>
                        <span class="focus-input100"></span>
                    </div>

					<div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							¡Rellena todos los campos!
						</span>

					</div>

					<div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Crear Cuenta
                        </button>
                    </div>
                    <div>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>

                    <div class="flex-col-c p-t-130 p-b-40">
                        <span class="txt1 p-b-9">
                            Ya tienes una cuenta?
                        </span>
                        <a href="{{ url_for('login')}}" class="txt3">
                            Inicia Sesión
                        </a>
                    </div>
				</form>
			</div>
		</div>
	</div>
	
	
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>