{% extends 'base.html' %}

{% block content %}
    <style>
        .sobreNosotros p {
            font-size: 18px; /* Cambia este valor según el tamaño de letra deseado */
        }

        .sobreNosotros h3 {
            font-size: 24px; /* Cambia este valor según el tamaño de letra deseado */
        }
    </style>
    <div class="sobreNosotros">
        <h3 id="porqué-comer-de-temporada">¿PORQUÉ COMER DE TEMPORADA?</h3>
        <p>Comer productos de temporada es bueno para tu salud, tu bolsillo y el medio ambiente. Además de ayudar a reducir las emisiones de CO2 y apoyar la sostenibilidad de la tierra, consumes productos que han sido recogidos en su punto óptimo de maduración a un precio justo y que favorece la economía local.</p>

        <h3 id="por-qué-este-proyecto">¿POR QUÉ ESTE PROYECTO?</h3>
        <p>Hace décadas que los habitantes de centros urbanos se desconectaron del mundo agrícola y del ritmo natural de la tierra. Sea verano o invierno, norte o sur, en Europa siempre es posible encontrar fruta exótica en los estantes de supermercados. Hay dos maneras de conseguir ésto: importando o cultivando en invernaderos climatizados. Los dos métodos tienen impacto sobre el planeta, generan residuos y gases de efecto invernadero que destrozan cada vez más el medio ambiente. Tenemos que deshacernos de la comodidad a la que nos hemos acostumbrado y <strong>volver a consumir como lo hacían nuestros abuelos: siguiendo el ritmo de la naturaleza</strong>.</p>

        <p>Ahora, ¿cómo saber qué comer y cuándo? Buscando calendarios en la web, uno se enfrenta a una gran cantidad de datos e informaciones contradictorias. Este proyecto tiene por objetivo elaborar un calendario fiable, completo y lo más preciso posible. El objetivo original era elaborar varios calendarios dependiendo de la zona de cultivo, pero por falta de datos, hemos decidido elaborar un sólo calendario para toda la península.</p>

        <p>Con este proyecto, queremos aportar una herramienta para apoyar el consumo responsable, limitando el transporte excesivo de alimentos y el cultivo en invernaderos climatizados.</p>

        <h3 id="metodología">METODOLOGÍA</h3>
        <p>Para elaborar el calendario, hemos contactado con organismos y personas del mundo agrícola para que nos comuniquen las temporadas de los productos en su zona. Hemos hablado con agricultores, grupos de consumo, observatorios agroalimentarios y consejos de producción ecológica. Hemos recolectado los datos a través de una tabla Excel y una encuesta en Google Form.</p>

        <p>Por ahora han participado a la encuesta más de 20 agricultores y organismos de varias comunidades autónomas: Andalucía, Asturias, Extremadura, Madrid, Murcia, Navarra y País Vasco. El formulario es accesible <a href="https://soydetemporada.es/colabora">aquí</a> y se agradece la colaboración de cualquier persona que tenga conocimientos sobre el ciclo natural de las plantas. Se hizo una media de todos los resultados para crear un sólo calendario que junte información de todas las zonas de la península española.
        <br /></p>
        <div class="row">
        <div class="col-sm-12 col-xs-12">
        <img class="img-responsive img-centered" src="https://soydetemporada.es/img/valores.jpg" />
        </div>
        </div>
        <h3 id="datos">DATOS</h3>
        <p>Para elaborar la ficha de cada producto, se han usado datos de producción, importación y exportación de organismos públicos y privados a través de sus directorios web. Entre las principales fuentes de datos se encuentran <a href="http://mercasa.es/">Mercasa</a>, el <a href="http://datacomex.comercio.es/principal_comex_es.aspx">Ministerio de Economía, Industria y Competitividad</a> y el <a href="http://www.mapama.gob.es/es/estadistica/temas/publicaciones/anuario-de-estadistica/">Ministerio de Agricultura y Pesca, Alimentación y Media Ambiente</a>.</p>

        <p>A pesar de contar con fuentes oficiales para recopilar estos datos, fue necesario un esfuerzo importante a la hora de descargar y organizar la información. Los principales problemas encontrados fueron:</p>

        <p><strong>Falta de actualización</strong> los datos tardan en consolidarse y hay que trabajar con datos provisionales si se quieren estadísticas actuales. Para este proyecto se han usado datos definitivos del año 2015 para elaborar las estadísticas.</p>

        <p><strong>Falta de acceso</strong> no hemos encontrado una fuente de datos que proporcione buenos datos. La plataforma Datacomex, a pesar de ser un esfuerzo a considerar, no permite el indexado de grandes tablas y los límites al número de celdas su uso a nivel profesional. Existe una opción de descargar directamente la información cruda de la Agencia Tributaria pero no se ha considerado por tiempo y complejidad. Sin duda, es uno de los posibles puntos de desarrollo futuro.</p>

        <p><strong>Calidad del dato</strong> pues en la mayoría de las webs accedemos a información organizada y agregada previamente en sus propios ficheros.</p>

        <h3 id="próximos-pasos">PRÓXIMOS PASOS</h3>
        <p>Sin duda el problema más grande al cual nos hemos enfrentado hasta ahora es la falta de datos existentes y de respuestas a la encuesta. Una vez recolectadas suficiente respuestas de cada región del país, podremos elaborar una herramienta más precisa que irá mostrando los productos de temporada dependiendo de la ubicación del usuario.</p>

        <p>Esto es un proyecto colaborativo, evolutivo y transparente. Cualquier duda, queja o comentario estará bienvenido para mejorar la herramienta. <a href="https://soydetemporada.es/contacto">Contácta con nosotros</a>.</p>

        <p>Las ilustraciones de las frutas y verduras están bajo licencias Creative Commons y pueden ser usadas libremente citando los autores de las mismas. Se pueden descargar <a href="https://github.com/soydetemporada/website/tree/master/ilustraciones-originales/color">aquí</a>.</p>

    </div>
{% endblock %}
