{% extends 'base.html' %}

{% block content %}
    <style>
        .sobreNosotros p {
            font-size: 18px; /* Cambia este valor según el tamaño de letra deseado */
        }

        .sobreNosotros h3 {
            font-size: 24px; /* Cambia este valor según el tamaño de letra deseado */
        }
    </style>
    <div class="sobreNosotros">
        <h3 id="qué-es-veganmania">¿QUÉ ES VEGANMANIA?</h3>
        <p>Veganmania es una aplicación diseñada para ayudarte a cumplir tus objetivos nutricionales, especialmente aquellos que son más difíciles de alcanzar para veganos y vegetarianos. Al eliminar productos de origen animal, algunos nutrientes pueden ser más difíciles de obtener, pero con Veganmania, esto ya no será un problema.</p>

        <h3 id="objetivo-de-veganmania">OBJETIVO DE VEGANMANIA</h3>
        <p>El objetivo principal de Veganmania es facilitar una alimentación vegana y vegetariana equilibrada, asegurando que puedas obtener todos los nutrientes esenciales. Además, promovemos el uso de productos de temporada y locales, proporcionándote recetas y un blog informativo para mejorar tu conocimiento alimenticio.</p>

        <h3 id="importancia-de-los-nutrientes">IMPORTANCIA DE LOS NUTRIENTES</h3>
        <p>Mantener un equilibrio adecuado de nutrientes es crucial para una buena salud. Estar por debajo de los niveles necesarios puede llevar a deficiencias que afecten tu bienestar, mientras que excederse en algunos nutrientes también puede ser perjudicial. Veganmania te ayuda a estar justo en los niveles necesarios, proporcionando herramientas para monitorear tu ingesta y ajustar tu dieta en consecuencia.</p>

        <p>Con Veganmania, puedes ver cómo llegas a tus objetivos nutricionales diarios, semanales y mensuales. La app te permite llevar un seguimiento detallado de 32 nutrientes esenciales, asegurándote de que tu dieta sea equilibrada y adecuada para tus necesidades.</p>

        <h3 id="funcionalidades">FUNCIONALIDADES</h3>
        <p>Veganmania ofrece una variedad de funcionalidades diseñadas para apoyar tu estilo de vida vegano o vegetariano:</p>
        <ul>
            <li>Recetas basadas en productos de temporada y locales.</li>
            <li>Blog informativo con artículos sobre nutrición y bienestar.</li>
            <li>App de seguimiento que monitoriza 32 nutrientes esenciales, ayudándote a mantener un equilibrio nutricional adecuado.</li>
            <li>Consejos y trucos para obtener los nutrientes que suelen ser difíciles de conseguir en una dieta vegana o vegetariana.</li>
            <li>Seguimiento de tus objetivos nutricionales diarios, semanales y mensuales.</li>
        </ul>

        <h3 id="metodología">METODOLOGÍA</h3>
        <p>Para asegurar que las recomendaciones nutricionales sean precisas y fiables, Veganmania se basa en datos recopilados de diversas fuentes científicas y consultas con nutricionistas especializados en dietas veganas y vegetarianas. Utilizamos una combinación de investigación académica y experiencia práctica para crear una base de datos robusta y actualizada.</p>

        <h3 id="próximos-pasos">PRÓXIMOS PASOS</h3>
        <p>Estamos constantemente mejorando Veganmania para ofrecerte las mejores herramientas y recursos. Próximamente, implementaremos funcionalidades adicionales como:</p>
        <ul>
            <li>Personalización avanzada de planes de alimentación según tus necesidades y objetivos específicos.</li>
            <li>Integración con dispositivos de seguimiento de salud para un monitoreo más completo.</li>
            <li>Expansión del blog con más recetas, consejos y artículos de expertos.</li>
        </ul>

        <p>Este es un proyecto colaborativo y evolutivo. Cualquier duda, sugerencia o comentario será bienvenido para mejorar la herramienta. <a href="https://veganmania.com/contacto">Contáctanos</a>.</p>

        <p>Las ilustraciones y otros recursos gráficos están bajo licencias Creative Commons y pueden ser utilizados libremente citando a los autores. Se pueden descargar <a href="https://github.com/veganmania/website/tree/master/recursos">aquí</a>.</p>
        
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <img class="img-responsive img-centered" src="https://soydetemporada.es/img/valores.jpg" />
            </div>
        </div>
    </div>
{% endblock %}
