{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 100px; text-align: center;">
    <h1>Tutorial de la Aplicación</h1>
    <p>Aquí encontrarás información sobre cómo usar las funcionalidades básicas de la aplicación...</p>
    <!-- Contenedor para centrar el video -->
    <div style="margin-top: 50px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CI4N3eKkBJ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <!-- Agrega más contenido del tutorial aquí -->
</div>
{% endblock %}
