{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="main-content">
        <section>
            <h1 class="tuSeguimiento">Detalles de la Comida</h1>

            <div class="comidas-list">
                {% if comida %}
                    <ul class="lista-comidas">
                        <li class="comida-item">
                            <h2>{{ comida[2] }}</h2> <!-- nombreComida -->
                            <p><strong>Descripción:</strong> {{ comida[3] }}</p> <!-- descripcion -->
                            <p><strong>Fecha:</strong> {{ comida[4] }}</p> <!-- fecha -->

                            <h3>Alimentos Incluidos</h3>
                            {% if alimentos %}
                                <ul class="lista-alimentos">
                                    {% for alimento in alimentos %}
                                        <li class="alimento-item">
                                            <article class="alimento">
                                                <h4>{{ alimento[0] }}</h4> <!-- nombreAlimento -->
                                                <p><strong>Descripción:</strong> {{ alimento[1] }}</p> <!-- descripcion -->
                                                <p><strong>Cantidad:</strong> {{ alimento[2] }} {{ alimento[3] }}</p> <!-- cantidad, unidad -->
                                                <!-- Agregar botones -->
                                                <div class="botones-alimento">
                                                    <form action="{{ url_for('borrarAlimento', id_alimento=alimento[4]) }}" method="post" style="display:inline;">
                                                        <button type="submit" class="btn btn-danger">Eliminar Alimento</button>
                                                    </form>
                                                    <a href="{{url_for('verAlimento', id_alimento=alimento[4])}}" class="btn btn-info">Ver Alimento</a>
                                                </div>
                                            </article>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No se encontraron alimentos para esta comida.</p>
                                <a href="{{ url_for('añadirAlimento') }}" class="btn btn-primary">Añadir Alimento</a>
                            {% endif %}
                        </li>
                    </ul>
                {% else %}
                    <p>No se encontró la comida especificada.</p>
                {% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock %}